.p-events
	.titulos
		margin-top 2em
		h3.fecha
			margin .3em
			color black !important
			font-size 1.3em !important
		h1
			// padding 0
			margin 0
			// font-size 1em !important
	.contenidos
		select
			width 100%
	.gallery_grid
		li
			.card
				.card-content
					padding 0 !important
					a
						height auto !important
						line-height 1em
						display block
						background transparent !important
						box-shadow none
						color black
						margin-bottom -7px
						margin-top 7px
	.collection
		.collection-item 
			b 
				display block
				color black
				text-transform lowercase
			