.p-pagesphotos
	.cotizar
		display none
	.pages_footer
		display none
	.product_detail
		box-shadow_4()
		.train
			display none
		.foto
			margin-top 30px
	.form_consulta
		.card-panel
			box-shadow_4()
