


.style_contact01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CC3467;}
	
	.style_contact02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;}
	.style_contact03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #0C7AB6;}
	.style_contact04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;}
	.style_contact05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #CC3467;}


.tit_ardyss {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #3D7493;
	font-weight: bold;
	text-decoration:underline
}

.ardyss_precio {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #0066CC;
	font-weight: bold;
}

.style_tit {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.style_flech {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 20px;
	color: #1E6E9B;
	font-weight: bold;
}
.ardyss_peru {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}
.style_parrafo1 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	}
	.style_parrafo2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #448E24;
	}
	.style_parrafo3 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}
.productos_ardyss1 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #3D7493;
	font-weight: bold;
}
.productos_ardyss2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #50A82B;
	font-weight: bold;
}
.productos_ardyss3 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 20px;
	color: #1E6E9B;
	font-weight: bold;
	}
	.productos_ardyss4 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 18px;
	color: #50A82B;
	font-weight: bold;
	
}
.style_mensaje {
	font-family: Times New Roman, Century Gothic, Helvetica, sans-serif;
	font-size: 25px;
	color: #333333;
	}
	
	.style_mensaje2 {
	font-family:Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	}
	.style_mensaje3 {
	font-family:Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	}
	.style_mensaje4 {
	font-family: Times New Roman, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #666666;
	font-style:italic;
	}
	.style_mensaje5 {
	font-family:Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	}
.style_tit2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}
	.style_tit3 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #666666;
	font-weight: bold;
}
.style_titulos {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
}
.style_tit_razones {
	font-family: Century Gothic, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #1f3652;
font-weight: bold;}

.style_sistema_de_proteccion {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}
.style_texto1 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.style_derecho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;}