

.id_header {

    margin-bottom: -33px !important;

}

/**

 * banner main

 */

.id_banner_main .barra_abajo {

    bottom: 10px;

    left: -8px;

    margin-right: 33px;

    padding: 0 0 10px;

    position: absolute;

}

.id_banner_main .barra_abajo a {

    text-decoration: none;

    font-size: 14px;

}



/**

 * noticias bloque 1

 */

.id_news0_items_list .foto  {

    float: left;

    margin: 10px 0 0 20px !important;

    width: auto !important;

}

.id_news0_items_list .nombre  {

	float:left;

	width: 240px;

	height: auto;

	clear: none !important;

	margin-left: 10px;

	margin-top: 4px;

	/*color: #277018 !important;*/

 }

.id_news0_items_list .fecha  { margin-left: 15px; margin-top: 5px; color:#D70000 !important; }

.id_news0_items_list .texto  {

	float:left;

	width: 240px;

	height: auto;

	clear: none !important;

	margin-left: 20px;

	margin-top: 4px;

 }



.id_news0_items_list {

	border-radius: 10px;

	margin-top:10px;

}



/**

 * NEWS ITEM FILE

 */

.id_news_items_file .fecha {

	color:#D70000 !important;

	margin-bottom: 10px;

}



.news_menu-menus .area_menu {

    padding: 3px 0 4px;

}



.header-menus .fecha {

	color:#FFFFFF;

	padding: 11px 0 0 9px;

}



h2.nombre a img { display: none; }



.menu_obras-bloques,

.menu_obras2-bloques,

.banner_enlaces-bloques,

.blog_videos_file-listados .listado_item  {

	margin-bottom: 10px !important;

}



.texto p a { 
	color:blue !important; text-decoration: underline !important; 
}
form[action="index.php"] {
	float: right;
	margin-right: 10px;
}
form[action="index.php"] .box {
	border: 1px solid #00527D;
	width:158px;
}
form[action="index.php"]  .button {
	background-color: #004993;
	color: #FFF;
	border: 0;
	padding: 3px 20px;
}

#busqueda_list h2.nombre a.nombre {
    font-size: 20px;
    color: #00527D;
    line-height: 2em;
    text-decoration: underline;
}

#temas_items_file .texto ul li {
	margin-bottom: 10px;
	text-decoration: underline;
}

.area {
    margin-left: -6px;
	
    font-weight: bold;
    text-transform: capitalize;
    font-size: 1.5em;
}

#contenedor_slider_bloq_enlaces_0_buttons .but_prev,
#contenedor_slider_bloq_enlaces_0_buttons .but_next
 {
 	color:black;
	font-weight: normal;
	text-decoration: none; 	
 }

#contenedor_slider_banner_enlaces2_0_fijo .listado_item .foto {
	width: 201px !important;
	height:109px !important;
} 