menu_height    =menu_top_height
menu_font_size =1rem

menu_bg        =#eee
menu_color     =#666

menu_bg_over   =color2
menu_color_over=#fff



header_customize()
	header
		nav
			.menu_top
				> li
					a
						font-family Roboto
					&.brand-logo
						display block



header_basic_logo()
										


header_customize()
