.container
	.post
		&.card
			box-shadow initial
			display flex
			flex-direction row
			@media $small-medium
				flex-direction column
			.card-title
				h1
					padding-left 0
			.text
				font-size 1.1em
				p 
					font-weight 300
					strong
						font-weight 400
			.card-image
				margin-top 2em
				order -1
				@media $small-medium
					order 3
