
detallitos
.common
	preheader franja naranja #[]
	logo 
	menu
		| Inicio #[]
		| Empresa -> texto #[]
		| Productos -> app #[]

.home
	banner panoramico de allfuminperu #[done]
	texto 
		| bienvenizo a detallitos mathias #[]
     	| mas informacion #[]

.galleries	
	Galeria
		texto arriba una breve descripcion 
		fotos se amplien
	Promociones

.forms
	contacto
		| telefono y correo obligatorio
		| google maps

.texts
	Consejos blog

.apps
	categorias
		banner por cada categoria
		items
			| 3 arribas
			| 3 abajo
	Testimonios
		| 2 foto


