footer
	p 
		| Jr. Huamachuco N° 1408 Oficina 605, Jesús María Lima - Perú #[br]
		| #[strong Central telefónica]: (01) 623-9410  
		| #[strong Whatsapp]: 986855255 
		| #[strong Correo] informes@asiste.pe #[br]
		| © 2016 ASISTE  Todos los derechos reservados
	nav(class="transparent right z-depth-0")
		ul(class="right menu")
			.container
				if(visiters)
					li #{visiters} visitas
				+menu_items(menu_footer)