.home_block_welcome
	h2: span BIENVENIDOS AL HOTEL PUNTA PARIÑAS

	p #[b El Hotel Punta Pariñas], te da la más cordial bienvenida, disfrute de una placentera estadía con instalaciones modernas, equipadas para brindarle comodidad, asimismo goce de una atención personalizada durante su visita.

	p Nos encontramos a tan solo 5 minutos del Aeropuerto de la ciudad, a poca distancia del Complejo Industrial Petrolero “Refinería de Talara”, muy cerca de restaurantes en sus diferentes variedades.

	p La ciudad de Talara se encuentra a 30 minutos de las principales y hermosas playas del norte del Perú.

	p Te invitamos a disfrutar esta parte del país en un acogedor ambiente para tu descanso.

	h3: span TE OFRECEMOS:
	p Te ofrecemos un conjunto de alternativas que te permitirán tener una estancia tranquila y placentera.