section(class="footerpre2")
	div(class="container row")
		div(class="col s12 l4") 
			p #[strong Email]:#[br]
				| servicios@hgd.com.pe
		div(class="col s12 l4")
			p #[strong Teléfonos]:#[br]
				| Oficina: (01) 637-8168   /   637-8160#[br]
				| RPM: *270286
		div(class="col s12 l4") 
			p #[strong Dirección]:#[br]
				| Av. Alfa Nº 1901 Of. 401 - Los Olivos, Lima