menu_height    =menu_top_height
menu_font_size =1rem

menu_bg        =transparent
menu_color     =black

menu_bg_over   =transparent
menu_color_over=black



header_customize()
	header
		height 85px !important
		nav
			background #006699 !important
			box-shadow initial !important
			// height 85px !important
			.menu_top
				padding 0 !important
				height 85px !important
				> li
					margin 0 !important
					height 100% !important
					// line-height 100% !important 
					> .submenu
						padding-top 0 !important
						top 70% !important
						> li:first-child
							border-top 1px solid #036896
					> a
						font-size 14px !important
						padding-left .5em !important
						padding-right .5em !important
						background #FFF !important
						height 100% !important
						// line-height 100% !important 						
					&.brand-logo
						display block
						height 100% !important
						a
							padding 0 !important
					&.der1
						height 100% !important
					&.der2
						// background #006699 !important
						display flex
						align-items center
						flex-direction column
						padding-top 1em !important
						> div
							display block
							width 100%
							a
								color yellow 
								line-height 28px !important
								font-size 16px !important
								font-size 18px !important
								padding 0
							&.phone > a
								icomoon('e620')
								&:before
									font-size 1em
									margin-right 10px
							&.email > a
								icomoon('e679')
								&:before
									font-size 1em
									margin-right 10px
			@media $small-medium
				background initial !important
				.container
					padding 0 !important			
					.menu_top
						height 60px !important
						> li.brand-logo 
							> a
								background #F1E60F !important
								text-align left
								img 
									height 100% !important

					.button-collapse
						right 0 !important
						// background black
						color white
						padding 0 5px
						position relavite
						&:before
							content ""
							background black
							width 35px
							height 32px
							// margin-top 10px
							position absolute
							z-index -1
							right 0px
							top 12px


		




header_basic_logo()
										


header_customize()
