section(class="footerpre2")
	div(class="container row")
		//- div(class="col s12 l4")
		//- 	p #[strong C.E.O.]#[br]
		//- 		| Ing. Walter Távara
		div(class="col s12 l4 offset-l4")
			p #[strong Teléfono]:#[br]
				| Celular:
				span!= web_phone
		div(class="col s12 l4") 
			p #[strong Dirección]:#[br]
				| #{web_address}#[br]
				| #{web_email} #{web_email_venta}
