//- include footerpre1.jade

include footerpre2.jade

footer

	div(class="container")
		
		nav(class="transparent z-depth-0")
			ul(class="menu")
				//- li: a ©2015 #{web_name}
				+menu_items(menu_footer)

				//- bucle de menu

			ul(class="right menu")
				li: a Copyright #{web_name_short} 2017
				//- li: a Oficinas
				//- li: a(href="empresa/empresa-1/20") Empresa
				if(visiters)
					li #{visiters} visitas
				+menu_items(menu_footer2)


