.header_pre
	nav
		height 40px
		background-color darken(white,5)
		color black
		box-shadow initial
		// border-bottom 1px solid #ddd
		ul.menu 
			> li
				line-height 40px
				padding-left 0.3em
				padding-right 0.3em
				font-weight 400
				a
					color inherit
					font-weight inherit
				&:before
					margin-right 0.5em
				&.facebook a
					icomoon('e660')
				&.twitter a
					icomoon('e66c')
				&.youtube a
					icomoon('e674')
				&.whatsapp
					icomoon('e900')
				&.phone
					icomoon('e620')
				&.email
					icomoon('e622')
