  // body {
  //   display: flex;
  //   min-height: 100vh;
  //   flex-direction: column;
  // }


body.p-home
	background #eee !important
	> section 
		// width 100%
		// text-align center
		margin-bottom 0px
		// color #000
		font-size 1.1em
		// margin-top 10px
	.block_home,.form_contact
		background #fff !important
	

h1,h2,h3
	color color1
	font-weight 700
	font-family Orbitron


h1,h2
	font-size 1.5rem !important
h3
	font-size 1.2rem !important
		


.btn
	background-color color2
	color white
	height 40px		
	line-height @height
	border-radius 8px
	&:hover
		background-color color2




.collection
	.collection-item
		a
			color color1
			text-transform uppercase
			display block
			font-weight 400
			// font-family arial
		&.active
			background-color color2
			color white
			a
				color inherit


	
figure.responsive-img
	img
		width 100% !important
				