//- include footerpre1.jade


footer
	
	div(class="container")
		
		nav(class="transparent z-depth-0")
			ul(class="menu")
				+menu_items(menu_prefooter)

		.line.row
			.col.s12.l4
				h4 Orlando Ponce
				.phone #996510045 
			.col.s12.l4
				h4 Jack Saavedra
				.phone #995307906 
			.col.s12.l4
				h4 Central
				.phone (01) 225-4242 Anexo 213, 212, 211 

		nav(class="transparent z-depth-0")
			ul(class="menu second")
				span Copyright DAIHATSU DEL PERÚ todos los derechos reservados. 
				+menu_items(menu_footer)