.p-photos
	.gallery_products
		.container
			@media $large
				padding 0 !important
				margin 0 !important
			ul.row
				@media $large
					margin 0 8em
				.col
					.card
						border-color white
						.card-image
							fit_image(140px)