
.p-home

	// .line_wide
	// 	background url(imgs+'header-lines.jpg')
	// 	height 10px
	// 	width 100%
		

		
	.line_a // la mejor experiencia en ingenieria
		padding 3em 0
		h3
			margin-top 2em
			margin-bottom 1em
			color color1
			// text-decoration underline
			// text-shadow 0px 4px 3px rgba(0,0,0,0.6), 0px 8px 0px rgba(0,0,0,0.1);
			text-align center
			font-size 1.5em
			font-weight 400
		h4
			color #0198FF
			font-size 2em
		p 
			font-size 1.2em
			color lighten(black,50)
			img
				width 123px
				margin 5px 9px 9px 0
				height auto 
				float left 
		

		
	.line_b // la mejor experiencia en ingenieria
		padding .3em 0
		background #E2E2E2
		min-height 542px
		.container > .col > .col
			padding 0 4em
			@media $small-medium
				padding 0 0em				
		h4
			color #E47C0C
			font-size 1.5em
			margin-bottom 0
			overflow hidden
			height 1.26em
			@media $small-medium
				text-align center
				height auto
				overflow visible
		p 
			font-size 1em
			color #000
			margin-top 0
			line-height 1.3em
			overflow hidden
			height 90px
			@media $small-medium
				height auto
			img
				width auto
				margin 5px 9px 9px 0
				height auto 
				float left 
				





