footer_post_bgcolor = #444
footer_post_textcolor = white
.footer_post
	background footer_post_bgcolor
	nav 
		height 20px
		line-height @height
		> ul > li
			line-height 2em
			> a
				color footer_post_textcolor
				padding 0