include test/data.jade
doctype html
html(lang="es")
  include common/head.jade
  body
    //- include common/header.jade
    //- include common/menu.jade
    include test/materialize.jade
    include common/footer.jade
    include common/foot.jade