// for all
body
	display flex
	min-height 100vh
	flex-direction column
	// background-color lighten(brown,55)
	@media $large
		background-color body_color
		

// *
// 	transition:all 0.5s linear;

		


main
	flex 1 0 auto
	// background-image linear-gradient(0,transparent,darken(white,4))
	// background-color darken(white,4)
	// outline 1.5em solid darken(white,4)
	// padding 0 1em
	@media $large
		background-color main_bgcolor	
		




header .menu_top > li > a 
	font-size .9rem
	font-weight normal !important
	






footer
	background-color footer_bgcolor
	nav
		a
			color footer_textcolor
		.prodiserv
			color grey
footer,.footer_post
	ul.menu
		> li
			> .submenu
				top initial !important
				bottom 100% !important
				left 0% !important
			&.menu_prodiserv
				> .submenu
					transform scale(0)
					transition all .6s
					box-shadow initial !important
					overflow visible
					@media $large
						transform-origin bottom right
						width 80vw !important
						left initial !important
						right 0% !important
						display flex
						justify-content flex-end
						flex-wrap wrap
					@media $small-medium
						transform-origin bottom left
						width 95vw !important
						left 0% !important
						@media $small
							left 0% !important
						// right -10% !important
					li
						@media $large
							width 20%
							max-width 150px
						@media $small-medium
							width 25%
							max-width 150px
							@media $small
								width 50%
						display inline-block
						// float right
						border 1px solid white
						margin -1px
						a
							font-weight bold
						&.cyan 
							a,a:hover
								color white !important
				&:hover
					> .submenu
						transform scale(1)
						// transform scale(1) translate(0,0)



li#debug_submenu
	> .submenu
		transform scale(0)
		transition all .6s
		box-shadow initial !important
		overflow visible		
		transform-origin top right
		width 80vw !important
		left initial !important
		right 0% !important
		text-align right
		display flex
		justify-content flex-end
		flex-wrap wrap
		// align-items 
		li
			// display inline-block
			text-align left
			@media $large
				width 20%
				max-width 150px
			@media $small-medium
				width 25%
				max-width 150px
				@media $small
					width 50%
			display inline-block
			// float right
			border 1px solid white
			margin -1px
			a
				font-weight bold
			&.cyan 
				a,a:hover
					color white !important
	&:hover
		> .submenu
			transform scale(1)

h1,h2
	color color1
	text-transform uppercase
	font-size 1rem
	font-weight 400
	@media $large
		font-size 1rem	
	@media $small-medium
		font-size 1rem		
	a
		color inherit
		&:hover
			color color2
			


h1
	@media $large
		font-size 1.5rem	
	@media $small-medium
		font-size 1.5rem
		padding-left 0.75rem
		// margin-top 2em



h3,h4,h5,h6
	color lighten(color2,10)
	@media $large
		font-size 1em
	@media $small-medium
		font-size 1em
		// padding-top 0.4em
	a
		color inherit
	


h6
	color black

		

a
	&:hover
		text-decoration underline




select
	@media $large
		width auto



article
	> div
		// text-align: justify
		color black
		// font-size 1.1rem
		// font-weight 300
	img
		margin-top 0px
		


// form
// form
// 	.btn
// 		background-color rgba(color1, 0.65)
		


pre
	background black
	color white
	font-size 0.8em
	padding 1em
	margin 0




//wide
.wide
	padding 0 3%
	@media $small-medium
		padding 0
		


.container
	width maxwide
	@media $maxim
		width 100%		
		padding 0 0.75rem
		
.icom
	font-family icomoon
	&:before
		color inherit
	&.facebook
		&:before
			content "\e660"
	&.twitter
		&:before
			content "\e66c"
			
// post	
.post
		h1
			padding-left 0	
	article.card
		min-height 70vh
		@media $small-medium
			min-height 0
			box-shadow none		


//breadcrumb
.breadcrumb
	display inline-block
	white-space nowrap
	text-overflow ellipsis	
	overflow hidden		
	width 98%
	text-align left
	margin 1em 0
	li
		display inline
		padding 0 1em
		color rgba(black,0.5)
		&+li
			&:before
				content "/\00a0"
				display inline-block
				padding 0 1em 0 0
		h3,h4
			display inline
			padding 0
			color inherit
			font-weight 300		
			a
				color inherit
				// max-width 150px					
		&.active
			h3,h4
				font-weight bold
				font-weight 500
	
			




.collapsible 
	.collapsible-header
		padding 0 .5rem
		color black
	.collapsible-body
		// padding 0 0 0 2.5rem
		> ul > li 
			> a
				display block
				padding .5em 0rem
				font-weight bold




.menu
	> li
		position relative
		.submenu
			padding-top 5px
			// overflow-y hidden
			position absolute
			top 100%
			left 0px
			min-width 100%
			width auto
			max-height 80vh
			// overflow auto
			z-index 5
			transition inherit
			transition-timing-function ease
			// transform scale(0)
			cursor pointer
			display none
			box-shadow_5()
			> li
				background rgba(white,.95)
				transition inherit
				// margin-top -100%
				display block
				width 100%
				border-bottom 1px solid color6
				// border-bottom 0
				cursor pointer
				position relative
				&:last-child
					border-bottom @border
				&:hover,&.active
					background rgba(darken(white,15),.9)
				> a
					cursor pointer
					transition inherit
					color black
					display block
					white-space nowrap
					height auto
					line-height initial
					font-weight 400
					font-size 14px !important
					padding .4em .5em
					&:hover,&.active
						color black !important
				> ul.submenu
					display none
					position absolute
					left 98%
					top -10%
					// background darken(#88909b,15)
					visibility visible
					// border 1px solid #000
					box-shadow -1px -1px 5px #333;
					z-index 2
					> li
						display block
						clear both
						width 100%
						text-align left
						padding-left .5em
						> a
							white-space nowrap
						&:hover
							// background darken(#194d74,5)
				&:hover
					> ul.submenu
						display block
		&:hover
			.submenu
				display block
				// transform scale(1)
				> li
					margin-top 0px
					

@media $small-medium
	.parallax-container
		height auto !important


.button-collapse
	transform scale(1.5)
	cursor pointer
	&:hover
		text-decoration none


.dropdown-content li span
	color color1
	

.debug_menu
	position fixed
	background white
	width 100%
	z-index 1000
	margin-top -50px
	border-bottom 1px solid #ccc
	height 45px
	line-height @height
	li
		a
			color black
		&.nounder
			a
				cursor default
				&:hover
					background-color transparent
					text-decoration none

.debug_strong
	position relative
	.debug_above
		position absolute
		top -50px

#list_debug,#list_emails
	display none
.debug_box
	display inline-block
	width 250px
	// height 30px
	padding 12px
	line-height @height
	// color white
	font-weight normal
	text-align center
	// float right
.debug_fonts 
	float left
	width 200px
	a
		color black !important
		font-size 24px
		// text-decoration underline
		display block
		padding 5px
		background white
		margin 2px 2px 5px
		text-align center
		
.btn, .btn-large, .btn-flat
	padding 0 1rem !important

.browser-default
	width 100%
	


.btn
	background-color color2
	color white
	height 40px		
	line-height @height
	border-radius 8px
	&:hover
		background-color color2	