menu_logo      ='logo.png'

menu_bg        =#357bb2
menu_color     =white
menu_font_size =.84em
menu_height    =50px
menu_bg_over   =color1
menu_color_over=white

// menu_bg        =rgba(black,.7)
// menu_color     =white
// menu_font_size =14px
// menu_height    =38px
// menu_bg_over   =rgba(white,.9)
// menu_color_over=black

header_bg()
	background url(imgs+'header-bg-bottom_line.jpg') repeat-x bottom
	&:after
		content ""
		width 422px
		height 31px
		background url(imgs+'header-bg-bottom.jpg') no-repeat
		z-index 0
		margin 0 auto
		position relative
		display block
		margin-top -31px
		
header_promo()
	z-index 1000
	// transition inherit
	transition inherit
	transform rotate(9deg)
	display block
	heigh auto
	&:hover
		transform rotate(-9deg)
		background-color inherit
	a.btn
		position relative
		border-radius 2px 12px 12px 2px
		font-size 22px
		height 55px
		line-height @height
		width auto
		box-shadow initial
		font-weight 700
		padding 0 .8em
		// background #D8385E
		background-color color3 !important
		text_border(black)
		&:before
			content ""
			background inherit
			height 46px
			width @height
			position absolute
			border-radius 30%
			left -23px
			top 4px
			transform rotate(45deg)
			z-index -1
		&:after
			content ""
			height 15px
			width @height
			border-radius 50%
			background white
			position absolute
			z-index 2
			left -15px
			top 18px
		&:hover
			text-decoration none
			background-color color1 !important


header_customize()
	header nav > .container > .menu_top > li.logo a
		@media $small-medium
			transform scale(.6) !important
		@media $small
			transform scale(.6) !important
	@media $large
		header
			nav
				> .container 
					> .menu_top
						> li
							border-bottom 3px solid transparent
							&.active,&:hover
								border-bottom 3px solid #A6D644
						.submenu > li
							&.active,&:hover
								background menu_bg
								> a
									color menu_color !important

		body.headfixed
			header
				nav
					// background menu_bg
					background rgba(white,.9)
					// box-shadow initial
					> .container
						> .menu_top
							> li
								> a
									// color menu_color !important
									color black !important
								&.active,&:hover
									background menu_bg_over
									> a
										color menu_color_over !important
								&.logo
									background initial !important
									> a
										width 120px
										color transparent !important
										transform scale(1,1.5)

.prenav
	@media $medium-small
		display none
	text-align center
	transition all .6s
	header_bg()
	.container
		transition inherit
		display flex
		line-height initial
		align-items center
		justify-content space-between
		.promo
			header_promo()
		> a.logo
			transition inherit
			position relative
			width auto
			height auto
			background transparent
			flex-grow 0
			display inline-block
			margin 12px 0
			text-align left
			width 100%
			@media $small-medium
				display block
				text-align center
			a
				padding 0
				text-align left
				@media $small-medium
					text-align center
				img
					transition inherit
					transform scale(1)
			@media $small-medium
				margin 0
				img
					height 50px
			@media $large
				img
					width auto
					height auto



header_basic_long()


header_customize()

									