
.collection
	.collection-item
		padding 7px 5px
		a
			display block
			font-weight 400
			font-size 1em
			color color1
			text-transform uppercase
			// color color5
		&.active
			background-color lighten(black,40)
			color white
			a
				color inherit



// .preheader
// 	nav
// 		height pre_header_height
// 		background-color pre_header_bgcolor
// 		color pre_header_textcolor
// 		.menu 
// 			> li
// 				line-height pre_header_height
// 				// padding-left 0.3em
// 				padding-right 0.3em
// 				a
// 					height pre_header_height
// 					color inherit
// 					&:before
// 						content ""
// 						width 14px
// 						height 100%
// 						float left
// 						margin-right 0.3em
// 						background-position 0 center
// 						background-repeat no-repeat
// 				&.facebook a, &.twitter a
// 					padding 0
// 				&.facebook a:before
// 					width 24px
// 					background-image url(imgs+'ico_facebook.png')
// 				&.twitter a:before
// 					width 24px
// 					background-image url(imgs+'ico_twitter.png')
// 				&.bola, &.phone, &.email
// 					float right
// 				&.bola a:before
// 					background-image url(imgs+'ico_bola.png')
// 				&.phone a:before
// 					background-image url(imgs+'ico_phone.png')
// 				&.email a:before
// 					background-image url(imgs+'ico_mail.png')





.footerpre2
	// background-color pre_footer_bgcolor
	// margin-top -20px !important
	height 280px
	background url(imgs+'footer_bg.png') repeat-x top center
	color pre_footer_textcolor
	@media $small
		height auto
		background-repeat repeat
	.container
		margin-bottom 0 !important
		padding-top 2.5em
		.menu
			li
				list-style none
				a
					color #fff
		@media $small
			padding-left 0
			padding-right 0
		> .col
			&.primero
				li 
					list-style none
					a.logo 
						background url(imgs+'logo-footer-american-house-company.png') no-repeat 0 center
						display block
						width auto
						height 154px
						@media $small
							display none
					&.bolita
						margin-top 2em
						width 40px
						height @width
						line-height @width
						background #fff
						display inline-block
						margin-right @width
						border-radius (@width/2)
						text-align center
						vertical-aligen middle
						@media $small
							display none
						a
							font-size 2em
							&:hover
								text-decoration none
						&.facebook a
							&:before
								color #1749AF
							icomoon('e902')
						&.youtube a
							&:before
								color #be252b
							icomoon('e674')
							// icomoon('e65e')
						&.twitter a
							&:before
								color #22ADF5						
							icomoon('e901')
						&.whatsapp 
							width auto
							background #179C0D
							a
								font-size 2.3em
								margin-top 1px
								&:before
									color #FFF
								icomoon('e900')
			&.segundo
				@media $large
					width 140px
					margin-left 30px
				@media $small
					padding-left 2em
			&.tercero
				@media $large
					width 290px
				padding-left 2em
				&:before
					content ""
					width 2px
					height 91%
					border-left 2px dashed #fff
					border-right 2px dashed #fff
					position absolute
					top 0
					left 0
					@media $small
						border 0
			position relative
			p
				color inherit !important
				font-weight 300
				@media $small-medium
					br 
						content " "
						&:after
							content " "
				strong
					display block
					margin-top .8em
					&.title
						margin-bottom 0
						margin-top 1em
	strong 
		color pre_footer_textcolor
		font-weight 700 !important
			

footer
	background-color #000
	height footer_height
	@media $small
		height auto
	nav
		height footer_height
		line-height footer_height
	li
		a
			color grey !important	
			font-size 0.95rem
	.menu_prodiserv
		float right
		.submenu > li > a
			color black !important
			padding-top 0 !important
			padding-bottom 0 !important
			line-height 2em !important
			


					
form
	.btn
		background-color rgba(#357BB2, 1)
		&:hover
			background-color rgba(color1, 1)
	.input-field 
		label
			color black
	
			
// main,footer
	// background-color lighten(color6,60)
	

article
	> div
		strong
			font-weight 500
			

.p-emails
	.wide
		text-align center
		.lines
			display inline-block
			margin 0 auto
			a
				display block
				margin 0
				padding 0
				img
					margin 0
					padding 0
					display block

.p-projects.p-grid.p-inmuebles
	main
		overflow hidden
		