menu_height    =menu_top_height
menu_font_size =16px

menu_bg        =menu_top_bgcolor
menu_color     =menu_top_textcolor

menu_bg_over   =menu_top_item_active_bgcolor
menu_color_over=menu_top_item_active_textcolor



header_customize()
	header
		nav
			.menu_top
				> li
					> a
						font-family Arial
						font-weight bold !important
						font-size .9rem !important
					&.brand-logo
						display block



header_basic_logo()
										


header_customize()
