

//grid
.grid
	img
		margin-top 0.7em
	h4
		color #005ba1
		font-weight 300
		font-size 1.1em
	h5
		color #c00
		font-size 1em
		font-weight 400
	p 
		font-weight 300
		color black
		// font-size 1.05em
	.card
		min-height 70px
		@media $small-medium
			min-height 0
	.more
		margin-top 10px
		float right
	