section(class="footer_pre container row")

	div(class="col s12 l4") 
		p #[strong Dirección]:#[br]
			| Calle Cerro Colorido Mz. “F” Lote 15 Urb. San Juan Masías - San Borja, Lima - Perú
	div(class="col s12 l4")
		p #[strong Teléfonos]:#[br]
			| (511) 225-5554 / 224-4058 #[br]
			| Celular: 947269780 RPM: #962869186
	div(class="col s12 l4") 
		p #[strong Email]:#[br]
			| ventas@fumigacionesyextintores.com