footer
	nav(class="transparent z-depth-0")
		.container
			ul
				li ©2017 #{web_name}
				//- bucle de menu
			ul(class="right menu")
				if(visiters)
					li #{visiters} visitas
				+menu_items(menu_footer)


