googleFonts='Orbitron|Merriweather';
// googleFonts=false;

if googleFonts
	@import url('https://fonts.googleapis.com/css?family='+googleFonts)


// icomoon
work_stylus='../../../../work/sources/stylus/'


// dirs
imgs               = '../../public/img/'
load_imgs          = '../../../public/img/'



// colors
angle              =0deg

color_white		   =#eee
color_black		   =#111

color1             =color_black + angle //red
color2             =#036896 + angle //blue
color3             =#333333 + angle //grey

color4             =skyblue + angle //black
color5             =#014087 + angle
color6             =#40b3ff + angle






// widths
// maxwide            =image-size(header_img_path)[0]
maxwide            = 1030px
tablet             = 992px
mobile             = 600px
container 			 = maxwide




// blocks
body_color         =white

// logo
// logo_img_path	 =load_imgs+'logo.jpg'
// logo_width      =image-size(logo_img_path)[0]
// logo_height     =image-size(logo_img_path)[1]


//header
// header_img_path	 =load_imgs+'header-bg.jpg'
// header_bg          =transparent url(imgs+'logo-2.png') no-repeat left
// header_height      =182


//menu_top
menu_top_bgcolor   =color2
menu_top_textcolor =color_white
menu_top_bgcolor_over   =color3
menu_top_textcolor_over =color_white
menu_top_height    =50px
menu_top_font_size 	   =14px




//logo
logo_customize()
	> a > img
		@media $large
			// height 90px !important
			// margin -5px 0
		@media $small-medium
			// height 50px !important
			// margin 0px 0 -6px
			@media $small
				height 40px !important
				margin 0 0px 5px
				@media only screen and (max-width :400px)
					height 30px !important
					margin 5px 0px 8px



//main
main_bgcolor       =transparent


// footer_pre
// footer_pre_bgcolor =color3
// footer_pre_textcolor=white

//footers
footer_bgcolor = color_black
footer_textcolor = color_white
footer_textcolor2 = darken(color_white,25)
// footer_height 	   =auto


// footer_post
footer_post_bgcolor = lighten(color_black,10)
footer_post_textcolor = darken(color_white,25)


// work
@import work_stylus+'work.styl'


//blocks
@import 'blocks/*'


//layouts
@import 'layouts/*'


// Begin Components
@import '../../../../work/app/sources/components/common/common.styl'
@import '../../../../work/app/sources/components/menu_left/menu_left.styl'
@import '../../../../work/app/sources/components/block_gallery/block_gallery.styl'
@import '../../../../work/app/sources/components/block_post/block_post.styl'
@import '../../../../agro/app/sources/components/header_pre/header_pre.styl'
@import '../../../../meca/app/sources/components/header/header.styl'
@import '../../../../meca/app/sources/components/block_banner/block_banner.styl'
@import '../../../../meca/app/sources/components/home_block_importaciones/home_block_importaciones.styl'
@import '../../../../meca/app/sources/components/home_block_descuentos/home_block_descuentos.styl'
@import '../../../../meca/app/sources/components/page_post/page_post.styl'
@import '../../../../meca/app/sources/components/block_gallery_products/block_gallery_products.styl'
@import '../../../../agro/app/sources/components/block_gallery_videos/block_gallery_videos.styl'
@import '../../../../meca/app/sources/components/gallery_products/gallery_products.styl'
@import '../../../../onelimites/app/sources/components/product_detail/product_detail.styl'
@import '../../../../meca/app/sources/components/form_consulta/form_consulta.styl'
@import '../../../../meca/app/sources/components/form_contact/form_contact.styl'
@import '../../../../meca/app/sources/components/footer/footer.styl'
@import '../../../../meca/app/sources/components/footer_post/footer_post.styl'
@import '../../../../onelimites/app/sources/components/products_reel/products_reel.styl'
@import '../../../../asiste/app/sources/components/home_block_links/home_block_links.styl'
@import '../../../../meca/app/sources/components/whatsapp_button/whatsapp_button.styl'
// Finish Components

//custom
@import 'custom/*'
