.style_tit {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

.style_tit2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	}
.style_titulos {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
}
.style_tit_razones {
	font-family: Century Gothic, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #1f3652;
font-weight: bold;}


.style_texto1 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.style_derecho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;}