.form_contact
	.row
		p 
			padding-top .4em
			font-size 1.55em
			// font-weight 300
		h2
			text-align center
			
			// text_border(#333)
			font-size 25px
			color #111 !important
			font-weight bold
			font-family arial
			
			margin-left 23px
			position relative
			&:before,&:after
				content ""
				height 1px
				background #333
				width 40%
				position absolute
				top 10px
				@media $small-medium
					width 35%
				@media $small
					display none
			&:before
				left 0
			&:after
				right 0
		.form
			// @media $large
			// 	padding-left 0
			// 	padding-right 0
			form
				text-align center
				h1,h2
					color color2
				// margin-top 4em
				padding-bottom 1em
				input, textarea, select
					background-color #ECECEC
					// border-bottom 0
					// border-left 10px solid #ECECEC
					font-weight 400
					// border-radius 5px
					// &:focus
						// box-shadow none
					margin-bottom 1px
					background none !important
					border 2px solid #ced309 !important
					// width 95%
					&::placeholder
						color #000
				select
					margin-right 0
					width 100%
				textarea
					height 40px
				button.submit
					// float right
					background-color #ced309
					color black
					font-weight bold
					// padding-left 70px
					// padding-right 70px
					height 40px
					width 150px
					line-height @height
					// text-align center
				label
					color color1 !important
					padding-left .5em !important
					&.active
						color color2 !important
						top .5rem !important
						padding-left 0 !important					
		@media $small-medium
			&:nth-child(2)
				display flex
				flex-direction column
				> .col
					padding 0 2em
					&:nth-child(1)
						order 2
					&:nth-child(2)
						order 1
	#map 
		img
			width 100%
			
