include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}") 

		include includes/header

		//- include blocks/breadcrumb.jade

		//- include blocks/image.jade

		.container
			.block_home.z-depth-3
				//- habitaciones
				include includes/block_habitaciones

		include includes/footer.jade

		include common/foot.jade

