.p-home 



	
	.home_block_planes // servicios
		padding-top .25rem
		background_opacity('fondo-servicios.jpg',.8)
		h2
			color white
			text-shadow 3px 4px 5px #000
			text-align center
		.card
			border-radius 10px !important
			over_shadow()






	.home_block_notes // bloques brochure social
		margin-top 1em
		@media $large
			.container > .col > .card
				height 400px
		// container_center()






	.home_gallery // clientes
		padding-top .25rem
		// background_opacity('fondo-clientes.png',.8)
		h2
			text-shadow 3px 4px 5px #000
			color white
		.card
			over_shadow()
			border-radius 10px !important
			.card-image
				background white !important
				.photo
					padding 8px
				a.btn
					white-space nowrap
					
					
				



	.home_block_links // enlaces
		container_center()
		padding-top 1rem
		> .card > ul.responsive .col > .card .card-content a
			color #000 !important
			padding 0 !important
		
		

		
