include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header
		
		main
			.container
				.row
					include includes/page_post

		section(class="pages_footer row")
			div(class="col s12 m6 l6")
				img(src="#{pub_img}nosotros-1.png")
			div(class="col s12 m6 l6")
				img(src="#{pub_img}nosotros-2.png")

		include includes/footer.jade
		include common/foot.jade
