.home_block_welcome
	padding 1em 0
	padding-left 2em
	padding-right @padding-left
	@media $large
		padding-left 12em
		padding-right @padding-left
	h2
		text-align center
		font-family arial
		// text-decoration underline
		// color #ff6600
		font-weight bold
		font-size 20px !important
		span
			color black
	h3
		font-family arial
		text-align center
		// text-decoration underline
		// color #46beec
		font-weight bold
		font-size 20px !important
		span
			color black
	p
		text-align justify
		font-size 1.1em
		color #666
		margin 0px
		b
			color #000
			// color #ff6600