.collection
	.collection-item
		a
			display block
			font-weight bold
		&.active
			background-color color1
			color white
			a
				color inherit

body
	background #005ba1 url(imgs+'fondo.jpg') no-repeat center 132px fixed
	
main
	background-color rgba(#f7f7f7,0.8) !important
	padding-bottom 2em
	

.footerpre2
	.container
		background-color darken(white,15)
		margin-top -20px !important
		color black
		strong 
			color #005ba1

			

				
				
	