/*
// ALL
.bold, 
.bold a
	font-weight bold



header, 
main, 
footer
	padding-left 380px
	

@media only screen and (max-width : 992px){
	header, 
	main, 
	footer
   	padding-left 0
}

      



*/



/*.side-nav .collapsible-body li.active, 
.side-nav.fixed .collapsible-body li.active {
  background-color: #ee6e73;
}
*/
