
.p-home
	// border 10px solid white
	// background transparent url(imgs+'home_unidades_bg.jpg') repeat
	background #d0d1d5 url(imgs+'parallax2.jpg')  no-repeat center
	// .line_wide
	// 	background url(imgs+'header-lines.jpg')
	// 	height 10px
	// 	width 100%
	.form_login
		clear both
		width 30%
		height 224px
		background #8A9290
		float left
		padding 25px
		div
			margin-bottom 20px
			label 
				color white
				display block
				font-size 1em
			input
				background #EBEBEB
				height 33px
				width 100%
				font-size 1em
			button
				background #194D74
				font-size 0.8em

	.presentacion // noticias
		width 70%
		float left
		padding-left 10px
		background-color #f8f8f8
		article
			.card-title 
				width 40%
				h2
					margin .6em 0 0
					color #212121
					font-size 1em
			img
				float right
			.html
				// margin-top -10px
				max-height 180px
				overflow hidden			
				width 45%
				color #444444
				> div > p
					text-align justify
				// > p






