.p-social.p-grid
	.grid ul > li 
		.card
			height 444px
			overflow hidden
			border-bottom solid white 1.5em
			img
				margin 0
			@media $medium-small
				height 505px
			@media $small
				height auto
			h2 a:hover
				color inherit
			.facebook
				icomoon('e660')
				&:before
					color #4b6fa8
					font-size 2em
			.text
				margin 5px 0 0 1em
				height auto
			
