icomdir='../../../work/vendor/icomoon/icomoon'

@font-face
	font-family 'icomoon'
	src url(icomdir+'.eot?-2sdmgq')
	src url(icomdir+'.eot?#iefix-2sdmgq') format('embedded-opentype'),url(icomdir+'.ttf?-2sdmgq') format('truetype'),url(icomdir+'.woff?-2sdmgq') format('woff'),url(icomdir+'.svg?-2sdmgq#icomoon') format('svg')
	font-weight normal
	font-style normal