@css {
	
	@font-face {
		font-family: 'icomoon';
		src:url('../../../work/vendor/icomoon/icomoon.eot?-2sdmgq');
		src:url('../../../work/vendor/icomoon/icomoon.eot?#iefix-2sdmgq') format('embedded-opentype'),
			url('../../../work/vendor/icomoon/icomoon.ttf?-2sdmgq') format('truetype'),
			url('../../../work/vendor/icomoon/icomoon.woff?-2sdmgq') format('woff'),
			url('../../../work/vendor/icomoon/icomoon.svg?-2sdmgq#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}

	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

}


.icon-adjust-brightness:before
	content "\e661"
.icon-social-facebook:before
	content "\e662"
.icon-book:before
	content "\e621"
.icon-chevron-with-circle-down:before
	content "\e664"
.icon-chevron-with-circle-left:before
	content "\e666"
.icon-chevron-with-circle-right:before
	content "\e667"
.icon-chevron-with-circle-up:before
	content "\e668"
.icon-facebook-with-circle:before
	content "\e66a"
.icon-facebook2:before
	content "\e66b"
.icon-twitter:before
	content "\e66c"
.icon-arrow-left:before
	content "\e645"
.icon-arrow-down:before
	content "\e646"
.icon-arrow-up:before
	content "\e64b"
.icon-arrow-right:before
	content "\e64f"
.icon-arrow-left2:before
	content "\e651"
.icon-arrow-down2:before
	content "\e652"
.icon-arrow-up2:before
	content "\e653"
.icon-arrow-right2:before
	content "\e654"
.icon-pacman2:before
	content "\e66d"
.icon-compass:before
	content "\e66e"
.icon-star-empty:before
	content "\e66f"
.icon-radio-checked:before
	content "\e671"
.icon-facebook3:before
	content "\e673"
.icon-youtube3:before
	content "\e674"
.icon-svg:before
	content "\e675"
.icon-home:before
	content "\e65d"
.icon-youtube:before
	content "\e65e"
.icon-facebook:before
	content "\e660"
.icon-pencil:before
	content "\e658"
.icon-location:before
	content "\e659"
.icon-calendar2:before
	content "\e65b"
.icon-spoon-knife:before
	content "\e65c"
.icon-uniE63D:before
	content "\e63d"
.icon-sun:before
	content "\e63f"
.icon-cloudy:before
	content "\e640"
.icon-cloud:before
	content "\e641"
.icon-lightning:before
	content "\e643"
.icon-lock:before
	content "\f06a"
.icon-mail-read:before
	content "\f03c"
.icon-tools:before
	content "\f031"
.icon-dice:before
	content "\e638"
.icon-credit:before
	content "\e639"
.icon-busy:before
	content "\e63a"
.icon-gift:before
	content "\e63c"
.icon-smiley:before
	content "\e602"
.icon-sad:before
	content "\e604"
.icon-shocked:before
	content "\e618"
.icon-neutral:before
	content "\e619"
.icon-home2:before
	content "\e600"
.icon-office:before
	content "\e603"
.icon-pencil2:before
	content "\e605"
.icon-pencil22:before
	content "\e606"
.icon-image2:before
	content "\e607"
.icon-book2:before
	content "\e608"
.icon-books:before
	content "\e609"
.icon-file:before
	content "\e60a"
.icon-profile:before
	content "\e60b"
.icon-file2:before
	content "\e60c"
.icon-file3:before
	content "\e60d"
.icon-file4:before
	content "\e60e"
.icon-copy:before
	content "\e60f"
.icon-copy2:before
	content "\e610"
.icon-copy3:before
	content "\e611"
.icon-paste:before
	content "\e612"
.icon-paste2:before
	content "\e613"
.icon-paste3:before
	content "\e614"
.icon-stack:before
	content "\e615"
.icon-folder:before
	content "\e616"
.icon-folder-open:before
	content "\e617"
.icon-cart2:before
	content "\e61c"
.icon-coin:before
	content "\e61e"
.icon-phone:before
	content "\e620"
.icon-envelope2:before
	content "\e622"
.icon-location2:before
	content "\e624"
.icon-alarm:before
	content "\e626"
.icon-bell:before
	content "\e627"
.icon-print:before
	content "\e629"
.icon-screen:before
	content "\e62b"
.icon-mobile:before
	content "\e62c"
.icon-tablet:before
	content "\e62d"
.icon-cabinet:before
	content "\e62e"
.icon-bubble:before
	content "\e634"
.icon-user:before
	content "\e636"
.icon-user4:before
	content "\e63b"
.icon-search:before
	content "\e63e"
.icon-key2:before
	content "\e642"
.icon-settings:before
	content "\e647"
.icon-cog:before
	content "\e648"
.icon-cogs:before
	content "\e649"
.icon-cog2:before
	content "\e64a"
.icon-stats:before
	content "\e64c"
.icon-bars:before
	content "\e64d"
.icon-bars2:before
	content "\e64e"
.icon-mug:before
	content "\e650"
.icon-remove2:before
	content "\e657"
.icon-target:before
	content "\e65a"
.icon-list:before
	content "\e65f"
.icon-menu2:before
	content "\e663"
.icon-cloud2:before
	content "\e665"
.icon-attachment:before
	content "\e669"
.icon-star:before
	content "\e670"
.icon-star3:before
	content "\e672"
.icon-cancel-circle:before
	content "\e67f"
.icon-checkmark-circle:before
	content "\e680"
.icon-close:before
	content "\e681"
.icon-checkmark:before
	content "\e682"
.icon-checkmark2:before
	content "\e683"
.icon-minus:before
	content "\e684"
.icon-plus:before
	content "\e685"
.icon-filter:before
	content "\e68a"
.icon-table2:before
	content "\e68d"
.icon-paragraph-left:before
	content "\e68e"
.icon-paragraph-center:before
	content "\e68f"
.icon-paragraph-justify:before
	content "\e691"
.icon-file-pdf:before
	content "\e69c"
.icon-file-word:before
	content "\e69d"
.icon-file-excel:before
	content "\e69e"
.icon-chevron-down:before
	content "\f0a3"
.icon-food:before
	content "\e655"
.icon-pictures:before
	content "\e656"
.icon-bargraph:before
	content "\e018"
.icon-calendar:before
	content "\e644"
.icon-pacman:before
	content "\e631"
.icon-basket:before
	content "\e61a"
.icon-image:before
	content "\e61b"
.icon-transformers:before
	content "\e625"
.icon-batman:before
	content "\e628"
.icon-spaceinvaders:before
	content "\e62a"
.icon-cube:before
	content "\e632"
.icon-box:before
	content "\e633"
.icon-box2:before
	content "\e635"
.icon-envelope:before
	content "\e61d"
.icon-male:before
	content "\e62f"
.icon-female:before
	content "\e630"
.icon-news:before
	content "\e61f"
.icon-truck:before
	content "\e637"
.icon-settings2:before
	content "\e6a8"
.icon-bulb:before
	content "\e6ac"
.icon-phone2:before
	content "\e6b1"
.icon-mail3:before
	content "\e6b3"
.icon-like:before
	content "\e6b4"
.icon-photo:before
	content "\e6b5"
.icon-clock2:before
	content "\e6b7"
.icon-paperplane:before
	content "\e6b8"
.icon-banknote:before
	content "\e6ba"
.icon-clip:before
	content "\e6c3"
.icon-factory:before
	content "\e623"
.icon-caret-down:before
	content "\f0d7"
.icon-caret-up:before
	content "\f0d8"
.icon-caret-left:before
	content "\f0d9"
.icon-caret-right:before
	content "\f0da"
.icon-smile-o:before
	content "\f118"
.icon-frown-o:before
	content "\f119"
.icon-toggle-down:before
	content "\f150"
.icon-toggle-up:before
	content "\f151"
.icon-toggle-right:before
	content "\f152"
.icon-toggle-left:before
	content "\f191"
.icon-mortar-board:before
	content "\f19d"
.icon-eye:before
	content "\e601"
