


// media queries
$small        = 'only screen and (max-width : '+mobile+')'
$small-medium = 'only screen and (max-width : '+tablet+')'
$large        = 'only screen and (min-width : '+tablet+')'
$medium-large = 'only screen and (min-width : '+mobile+')'
$maxim        = 'only screen and (max-width : '+maxwide+')'

$medium-small = $small-medium
$large-medium = $medium-large



// Material+Icons|Roboto
@import url('https://fonts.googleapis.com/css?family=Material+Icons')
// @import url('https://fonts.googleapis.com/css?family=Roboto')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

//materialize
// @import '../../../../work/public/vendor/css/materialize0990.css'

//work mixins
@import work_stylus+'mixins.styl'

//blocks
@import work_stylus+'icomoon.styl'
@import work_stylus+'common.styl'

// @import work_stylus+'galleries.styl'

