.block_gallery_videos
	background #46beec url(imgs+'videos-bg.jpg') repeat;
	h2
		font-family Roboto
		font-size: 20px !important
		color #fff
	.card-content
		padding-left 0px
		padding-right 0px
		background #346284
		// border 3px solid red
		a.btn
			background initial !important
			box-shadow initial !important
			// color #1f5277
			color #fff
			padding-left 0px !important
			padding-right 0px !important
			font-size 13px
			font-weight normal !important
