include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header
		
		//- include includes/banner

		main
			.container
				.row
					include includes/page_post.jade

		include includes/footer.jade
		include common/foot.jade
