//- a#scrolltop(onclick="\$('body').animate({scrollTop:0}, '500')")
footer
	div(class="container"): p
		| 2006 / 2016 - Creatiu Training Group. #[br]
		//- | #[span(class="hide-on-small-only") Llámenos al 373-2050]
		//- | #[a(class="hide-on-med-and-up",href="tel:013732050") Llámenos al 373-2050]