// banner
.slider
	.sy-pager
		bottom 10px
		li
			border-radius 0 !important
			border 0 !important
			width 25px
			height @width
			line-height @width
			a
				border-radius 0 !important
				text-indent 0 !important
				color white
				font-size 15px
				font-weight 100
				background black !important
			&.sy-active
				a
					background color3 !important