.post
	&.card
		.text
			font-size 1.1em
			p 
				font-weight 300
				strong
					font-weight 400
		.card-image
			text-align center
			img
				width initial
				margin-left auto
				margin-right auto