.header_pre
	nav
		// height 40px
		background-color color_white
		color color_black
		box-shadow initial
		// border-bottom 1px solid #ddd
		.container
			> ul.menu 
				display flex
				width 100%
				padding 0px
				&:before
					content ""
					flex-grow 1
					order 1
				> li
					// background red
					height 30px
					line-height @height
					padding 0 .3em .2em .3em
					font-weight 400
					flex-grow 0
					white-space nowrap
					// vertical-align middle
					// text-align right
					// order 1
					a
						color inherit
						font-weight inherit
						display flex
						align-items center
						&:before
							color inherit
							padding 0 .3em
					&.facebook a
						icomoon('e660')
					&.twitter a
						icomoon('e66c')
					&.instagram a
						icomoon('ea92')						
					&.youtube a
						icomoon('e674')					
					&.whatsapp a
						icomoon('e900')
					&.phone a
						icomoon('e620')
					&.email a
						icomoon('e679')
						
			//  #######  ########  ########  ######## ########
			// ##     ## ##     ## ##     ## ##       ##     ##
			// ##     ## ##     ## ##     ## ##       ##     ##
			// ##     ## ########  ##     ## ######   ########
			// ##     ## ##   ##   ##     ## ##       ##   ##
			// ##     ## ##    ##  ##     ## ##       ##    ##
			//  #######  ##     ## ########  ######## ##     ##
			> ul.menu
				> li
					&.phone
						order 11
					&.email
						order 12
					&.instagram
						order 99
					&.facebook
						order 0
					&.contacto
						order 101


