
a.btn#modal_link MODAL


if(banner)
	.custom_slider
		.slider_container
			each item in banner
				.slider_slide
					if !item.url || item.url=='pagina//'
						img(class="desktop",src="#{item.img}")
					else
						a(href="#{item.url}"): img(class="desktop",src="#{item.img}")
		.slider_controls: ul

.slider_external_controls: ul
	each item in banner
		li.slider_exterternal_control: img(src="#{item.img}")

h2 CALENDAR
.custom_calendar

.container
	nav: .nav-wrapper
		a.brand-logo(href='#') Logo
		ul#nav-mobile.right.hide-on-med-and-down
			li: a(href='sass.html') Sass
			li: a(href='badges.html') Components
			li: a(href='collapsible.html') JavaScript

p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola
p hola