.collection
	.collection-item
		// padding 7px 5px
		a
			display block
			font-weight 400
			font-size 0.85em
			// color color5
		&.active
			background-color lighten(black,40)
			color white
			a
				color inherit



					
form
	.btn
		background-color rgba(#357BB2, 1)
		&:hover
			background-color rgba(color1, 1)
	.input-field 
		label
			color black
	
			
// main,footer
	// background-color lighten(color6,60)
	

article
	> div
		strong
			font-weight 500
			

.p-emails
	.wide
		text-align center
		.lines
			display inline-block
			margin 0 auto
			a
				display block
				margin 0
				padding 0
				img
					margin 0
					padding 0
					display block

.breadcrumb
	padding 0
	a
		color inherit
		
.no-margins
	@media $large
		margin-left 0 !important
		margin-right 0 !important
		