.block_gallery_videos
	background #46beec url(imgs+'videos-bg.jpg') repeat
	background #e2e2e2
	h2
		font-family Roboto
		font-size: 20px !important
		color #fff
		color #697f8a
	ul.row
		width 100%
	.card-image img
		height 130px
	.card-content
		padding-left 0px
		padding-right 0px
		background #346284
		// border 3px solid red
		a.btn
			background initial !important
			box-shadow initial !important
			// color #1f5277
			color #fff
			// color #697f8a
			padding-left 0px !important
			padding-right 0px !important
			font-size 13px
			font-weight normal !important
