
// .slider-container
// 	margin-bottom: 20px
	// padding 12px 15px
// banner
.slider
	// container_center()
	height auto !important
	@media $large
		max-height 650px !important
	margin-top 0px
	max-height 650px
	margin-bottom 25px
	z-index 0
	// padding 15px !important
	// box-sizing: border-box
	@media $small
		max-height initial
	.slides
		// margin 15px !important
		height auto
		background-color #d6f3fd
		// display none !important
		@media $small
			background-color #ffffff
		> li
			z-index -1 !important
			// display none !important
			img
				max-height 650px
				max-width 1440px
				margin auto
			.desktop
				display block
				// @media $small
					// display none
			// .small
			// 	display none
			// 	@media $small
			// 		display block
			// a
				// display none
				img
					// max-height 535px
					max-height 450px
			&.sy-active 
				z-index 1 !important
				a
					display block
			.name
				position absolute
				padding .8em 1em
				color red
				border 3px solid #4FDFFA
				z-index 10
				left 30px
				top 40%
				background rgba(white,.9)
				font-size 20px
				font-weight: 400
				border-radius: 20px
				max-width 300px
				text-align center
				@media $small
					max-width 100%
					width 100%
					bottom 0
					top initial 
					right 0
					left 0
					padding .1em 1em
					border-radius 0
					opacity .6
					border 0
			// opacity 1
	// margin-bottom -40px
	h3,h5
		color white
	.indicators
		// @media $small-medium
		// display none
		bottom 66px
		z-index 2
		.indicator-item
			width 12px
			height @width
			margin 0 5px
			border 2px solid white
			background-color transparent
			&.active
				background-color #515254
	.sy-pager
		// @media $small-medium
		display block !important
		bottom 40px
		@media $small-medium
			bottom -30px
			// margin-bottom 60px
		z-index 2
		position absolute
		> li
			width 18px
			height @width
			margin 0 5px
			border 2px solid white
			background-color transparent
			a
				background-color #777
				border-radius 50% !important
				color transparent		
				border 2px solid white			
			&.sy-active a,&:hover a
				background-color #50dffa !important
	.sy-controls
		// @media $small-medium
		visibility hidden
		z-index 10
		.sy-prev a,.sy-next a
			icomoonafter('e651')
			font-size 0
			opacity 1
			display flex
			justify-content center
			align-items center
			left initial
			top initial
			&:after
				background rgba(white,.8)
				width 13px
				height @width
				color color1
				font-size 12px
				line-height 16px
				margin 0
				left initial
				top initial
				transform scale(3.1)
		.sy-next a:after
			transform scale(3.1) rotate(180deg)

				
figure.responsive-img
	overflow hidden
	width 100% !important
	margin 0
	text-align center
	vertical-align middle
	max-height 300px