.gallery_products
	.container
		@media $large-medium
			padding 0 4em
		@media $small
			padding 0 2em
		h1
			text-align center
		ul.row
			.col
				.card
					border-radius 10px
					border 10px solid lighten(color1,78)
					// border 10px solid transparent
					.card-image
						.btn
							font-size 1.3em
							font-weight 400
						fit_image(180px)
					@media $large-medium
						over_zoom()
						over_shadow()
		

			

