include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header
		
		include blocks/image.jade

		main(class="container row")

			-item_responsive = "col s12 m6 l4"
			
			.wide
				include blocks/gallery.jade
		
		include includes/footer

		include common/foot.jade