include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}") 

		include includes/header

		//- include blocks/breadcrumb.jade

		include blocks/image.jade

		main(class="container row")
			
			//- - menu_post = 0
			- type = 'photos'
			- ul_class='parent-container'
			- item_responsive='col s12 m6 l4'
			.wide
				include blocks/service.jade

		include includes/footer

		include common/foot.jade
