############################
#                          #
#        GENERALES         #
#                          #
############################


##
#Prioridad de archivos índices (por defecto)
##
DirectoryIndex index.html index.php


##
#Evitar acceso por el navegador a una carpeta sin "index":
Options All -Indexes


##
#Bloquea el acceso al .htaccess
##
<Files .htaccess>
Order allow,deny
</Files>

##
#Bloquea el acceso a config.ini
##
<Files config.ini> 
Order allow,deny 
Deny from all 
</Files>


##
#Quita los Etags ( como recomienda YSLOW )
##
#Remover Etags
FileETag none


##
#Codificación UTF-8 por defecto
##
AddDefaultCharset UTF-8


############################
#                          #
#      COMPRESIÓN          #
#                          #
############################

##
#Compresión PHP de arhicovos PHP y JS, con CSS aún
##
#<FilesMatch "css\.css$">
#AddHandler application/x-httpd-php .css
#</FilesMatch>
#AddHandler application/x-httpd-php .js
#php_value output_handler ob_gzhandler


############################
#                          #
#          CACHÉ           #
#                          #
############################

##
#Configura caché ( como lo recomienda YSLOW )
##
<IfModule mod_expires.c> 


	<FilesMatch "\.(jpg|jpeg|png|gif|ico)$">
	
	ExpiresActive On
	ExpiresDefault A31536000
	
	</FilesMatch>
		
	<FilesMatch "\.(js|css)$">
	
	ExpiresActive On
	ExpiresDefault A31536000
	
	</FilesMatch>
	
	<FilesMatch "\.(flv|swf)$">
	
	ExpiresActive On
	ExpiresDefault A31536000
	
	</FilesMatch>	
	
	<FilesMatch "\.(html|php|htm)$">
	
	ExpiresActive On
	ExpiresDefault A0
	
	</FilesMatch>

		
</IfModule> 



############################
#                          #
#          URLS            #
#                          #
############################

<IfModule mod_rewrite.c> 

##
#Acticar el REWRITE
##
RewriteEngine On
Options +FollowSymlinks


##
#Especificar el root base para el rewrite y error 404
## 
RewriteBase /
ErrorDocument 404 /index.php?modulo=error&tab=404


##
# no procesar las reglas para imágenes y otros ficheros
##
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)\.(js|css|ico|gif|jpe?g|png|xml)$ - [L]




#########    CANOCALIZACIÓN    ########

##
# quitar www del inicio de la url
##

RewriteCond %{HTTP_HOST} ^www.ichibansystems.com$ [NC]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ http://ichibansystems.com/$1 [R=301,L]


## quitar el / final ( canonicalizacion )
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)/$ $1 [L,R=301]



############   HOME    ###########

#HOME-START
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^$ index.php?modulo=app&tab=home [L]
#HOME-END

############   TABS DE UNA PALABRA   ###########  

#url_formularios-START
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(informenos|login|registro|recordar_clave|calcula-tu-envio|pedido|compre_en_usa|compre_en_lima|compramos_por_ti|calculadora|editar_usuario|editar_clave|boletin)$ index.php?modulo=formularios&tab=$1&ht=1 [L]
#url_formularios-END

#url_items-START
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(productos|blog_fotos|blog_videos|blog_noticias|blog_actividades|textos_items|enlaces_items)$  index.php?modulo=items&tab=$1&acc=list&ht=2 [L]
#url_items-END

#url_pages-START
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(empresa|como-funciona|compre-en-nuestra-tienda|compre|servicios|donde-nos-encontramos|quienes-somos)$ index.php?modulo=app&tab=pages&page=$1&ht=3 [L]
#url_pages-END

#url_app-START
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(carrito|sigue-tus-compras|sigue_tus_compras|home)$ index.php?modulo=app&tab=$1&ht=4 [L]
#url_app-END

#varurl-START
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^contactenos$ index.php?modulo=formularios&tab=contacto [L]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^empresa$ index.php?modulo=app&tab=pages&page=quienes-somos [L]
#varurl-END


############   ITEMS  ##########

#ITEMS/pag-PAG 												ej: productos/pag-2
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/pag-([0-9]{1,4})$ 			index.php?modulo=items&tab=$1&acc=list&pag=$2&ht=5 [L]

#ITEMS/ID/friendly/pag-PAG  										ej: productos/2/url-amigable/pag-2
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/([0-9]{1,7})/([a-z0-9\-]{2,100})/pag-([0-9]{1,4})$ 	index.php?modulo=items&tab=$1&acc=file&id=$2&friendly=$3&pag=$4&ht=6p [L]

#ITEMS/ID/friendly 													ej: productos/2/url-amigable
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/([0-9]{1,7})/([a-z0-9\-.]{3,100})$ 	index.php?modulo=items&tab=$1&acc=file&id=$2&friendly=$3&ht=66 [L]

#ITEMS-GRUPO/pag-PAG																		ej: productos-2/categoria/pag-2
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})-([0-9]{1,2})/([a-z0-9\-.]{4,100})/pag-([0-9]{1,4})$ 		index.php?modulo=items&tab=$1&acc=list&gru=$2&friendly=$3&pag=$4&ht=7 [L]

#ITEMS-GRUPO 															ej: productos-2/categoria
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})-([0-9]{1,2})/([a-z0-9\-.]{4,100})$ 		index.php?modulo=items&tab=$1&acc=list&gru=$2&friendly=$3&ht=8 [L]

#ITEMS/FILTRO												ej: productos/promociones
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/([a-z0-9\-]{4,100})$ 			index.php?modulo=items&tab=$1&acc=list&fil=$2&ht=9 [L]

#ITEMS/FILTRO/pag-PAG															ej: productos/promociones/pag-2
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/([a-z0-9\-]{4,100})/pag-([0-9]{1,4})$ 			index.php?modulo=items&tab=$1&acc=list&fil=$2&pag=$3&ht=10 [L]

#ITEMS/FILTRO/VALOR/friendly																	ej: productos/destinos/2/index.html
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/([a-z0-9\-]{4,100})/([a-z0-9\-]{1,100})/([a-z0-9\-.]{4,100})$ 			index.php?modulo=items&tab=$1&acc=list&fil=$2&val=$3&friendly=$4&ht=11 [L]

#ITEMS/FILTRO/VALOR/friendly/pag-PAG																	ej: productos/destinos/2/index.html/pag-2
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/([a-z0-9\-]{4,100})/([a-z0-9\-]{1,100})/([a-z0-9\-.]{4,100})/pag-([0-9]{1,4})$	index.php?modulo=items&tab=$1&acc=list&fil=$2&val=$3&friendly=$4&pag=$5&ht=12 [L]

#ITEMS/buscar=PALABRA/pag-PAG												ej: productos/buscar=palabra
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/buscar=([a-z0-9\-]{1,100})$	index.php?modulo=items&tab=$1&acc=list&buscar=$2&ht=12 [L]

#ITEMS/buscar=PALABRA/pag-PAG												ej: productos/buscar=palabra/pag-2
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^([a-z0-9_]{4,20})/buscar=([a-z0-9\-]{1,100})/pag-([0-9]{1,4})$	index.php?modulo=items&tab=$1&acc=list&buscar=$2&pag=$3&ht=12 [L]


###########    BASICOS   ###########

RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^robots.txt$ robots.txt [L]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(panel|sistema|sistemas)/?$ panel/index.php [L,r=301,NC]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^maqueta$ maqueta/index.html [L,r=301]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^email$ email/index.php [L,r=301]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^error$ index.php?modulo=error&tab=404 [L]
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^comming$ index.php?modulo=comming [L]


##


########   ERROR 404   ###########

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule (.*) index.php?modulo=error&tab=404 [L]

###

</IfModule> 
