#infraestructura
	div(class="galleries")
		if(main)
			h1: +item(gallery)
			-main=false
		else
			h2: +item(gallery)

	.col.s12
		p En el actual mundo de los negocios es primordial que las empresas utilicen una adecuada tecnología de la información para ofrecer respuestas más ágiles a las exigencias del mercado y por ende ser más competitivos y rentables.
		p En este contexto Multimport en alianza estratégica con las principales marcas del sector TI ofrece una solución integral, que le permita a su empresa, crecer gradualmente y realizar inversiones según su necesidad, dedicándose Ud. al core de su negocio y nosotros al equipamiento de sus necesidades TI en :
		ul.botones.row
			li#computo.col.l4.m6.s12: a(href="infraestructura/equipos-de-computo/31") Equipos de Computo
			li#impresion.col.l4.m6.s12: a(href="infraestructura/impresion-e-imagen/32") Impresión e imagen
			li#virtualizacion.col.l4.m6.s12: a(href="infraestructura/virtualizacion/29") Virtualización
			li#servidores.col.l4.m6.s12: a(href="infraestructura/servidores/27") Servidores
			li#storage.col.l4.m6.s12: a(href="infraestructura/storage/28") Storage
			li#proteccion.col.l4.m6.s12: a(href="infraestructura/proteccion-electrica/30") Protección Eléctrica

