.micrositios#licenciamiento
	div(class="col s12")
		p El nuevo Microsoft Volume Licensing Center tiene una interfaz intuitiva y fácil de usar que le permite ver y generar rápidamente informes de todo lo que compra con el contrato Microsoft Products and Services Agreement. Puede administrar la cartera de productos y servicios Microsoft de toda la organización. Microsoft Volume Licensing Center también le permite aprovisionar usted mismo servicios en línea, descargar software más rápidamente, acceder a claves de licencias por volumen más fácilmente y administrar y usar de forma eficaz los beneficios de Software Assurance.

	div(class="col s12 l6")
		.gris.card
			.card-content
				h5 Pequeñas empresas
				h6: strong Menos de 250 licencias
				p Programas de licenciamiento rentables que ofrecen comodidad y flexibilidad.
				ul
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/licensing-programs/open-license.aspx") Open Licence
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/licensing-programs/open-license.aspx") Open Value
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/licensing-programs/open-license.aspx") Open Subscription
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/product-licensing/online-services.aspx") Servicios en línea de Microsoft

	div(class="col s12 l6")
		.gris.card
			.card-content
				h5 Medianas y grandes empresas
				h6: strong 250 o más licencias
				p Soporte para una infraestructura dinámica de TI con licenciamiento y administración de software simplificados.
				ul
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/licensing-programs/enterprise.aspx") Enterprise Agreement
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/MPSA/default.aspx") Open Value
					li: p: a(target="_blank",href="https://www.microsoft.com/en-us/Licensing/licensing-programs/select.aspx") Open Subscription

	div(class="col s12")
		p El nuevo Microsoft Products and Services Agreement (MPSA) es un único contrato para sus compras de Online Services, software y Software Assurance en toda la organización. Le permite ahorrar tiempo y dinero ya que combina puntos de compra para el mejor nivel de precio y reduce la sobrecarga administrativa asociada con la administración de varios contratos.
		p ¿Cómo el contrato Microsoft Products and Services Agreement (MPSA) hace que Software Assurance (SA) sea más fácil de entender, administrar y usar? 
		p El contrato MPSA ofrece herramientas que le ayudan a administrar SA y a ver con claridad los beneficios que tiene su organización. Las vistas consolidadas muestran cómo los beneficios de SA se corresponden con las licencias que ha comprado. Los procesos de cálculo simplificados para los beneficios clave le permiten entender fácilmente cómo se obtienen. Y las herramientas de autoservicio fáciles de usar le proporcionan formas sencillas de asignar inmediatamente y administrar de forma eficaz sus beneficios, además de controlar su uso.

	div(class="col s12")
		p #[strong Software Assurance a través de Microsoft Products and Services Agreement]

		div(class="col s12")
			.esquema.morado.card
				.colu.card-content
					h4.card-title Software Assurance
					p.card-content Software Assurance es más fácil de entender, administrar y usar a través del nuevo Volume Licencing Agreement.
				.colu: img(src="#{pub_img}licenciamiento.png")

		p 
			| ¿Cómo empiezo a usar Software Assurance con el contrato MPSA de mi organización? #[br]
			| Microsoft Volume Licensing Center (MVLC) es su destino para administrar los beneficios de SA. MVLC es un sistema intuitivo y sencillo diseñado para ayudarle a simplificar la administración y uso de sus beneficios de SA. Encontrará un resumen de los beneficios de SA, incluidas las cantidades disponibles y usadas, breves descripciones de cada beneficio y formas claras de asignar los distintos beneficios a los usuarios adecuados.


