#nosotros
	.last_line
		.container
			.conllap_side
				b Acerca de Nosotros
				ul(class="collapsible",data-collapsible="accordion")
					li
						div(class="collapsible-header") Visión
						div(class="collapsible-body"): p Procuramos ser  una organización líder en el sector informático que trabaja con Honestidad y Diligencia,  brindando  un servicio diferenciado en  cada una de nuestras unidades  de negocio.
					li
						div(class="collapsible-header active") Misión
						div(class="collapsible-body"): p Proporcionamos soluciones oportunas e integrales ofreciendo productos y servicios de Tecnología Informática, que genere óptimos resultados y relaciones de largo plazo con nuestros clientes y socios comerciales  a través de un equipo de consultores,  comprometidos con los valores de la empresa. 
					li
						div(class="collapsible-header") Valores
						div(class="collapsible-body")
							p 
								| <span>Honestidad</span> e Integridad base fundamental que crea una sólida cultura organizacional.<br>
								| <span>Comunicación Efectiva</span>  que  genere confianza, efectividad  y bienestar en nuestras actividades.<br>
								| <span>Profesionalismo</span> contamos con personas proactivas que ayuden a corregir fallos y a buscar soluciones integrales con disciplina, esfuerzo y humildad.<br>
								| <span>Trabajo en Equipo</span> que logra  óptimos resultados.

			.img_side
				img(src="#{post.img}")
