.micrositios#office365
	div(class="col s12")

		p Tanto si está en su oficina o fuera de ella, tendrá a su disposición un conjunto de herramientas de productividad de calidad superior. Las aplicaciones de Office (siempre con la última versión) le permiten crear, editar y compartir desde un equipo PC o Mac, así como desde un dispositivo iOS, Android™ o Windows con cualquier usuario en tiempo real.
		p Herramientas para el profesional: Cree su dirección de correo electrónico empresarial para aportar reconocimiento al nombre y promocione su negocio con materiales de marketing personalizados fáciles de crear. Disfrute de una mejor comunicación con sus clientes y compañeros gracias a una variedad de herramientas de comunicación, desde correo electrónico y mensajería instantánea hasta redes sociales y videoconferencias.
		p Herramientas para trabajar en equipo: Con 1 TB de almacenamiento por usuario, tendrá espacio para todos sus archivos. Además, como sus archivos se almacenan en línea, puede compartirlos con usuarios que estén dentro o fuera de su compañía, desde dondequiera que esté trabajando y siempre que lo necesite. Y con el vídeo HD de varios participantes, el uso compartido de contenido y los calendarios compartidos, siempre estará sincronizado con su grupo.
		p Fácil configuración y administración: Gracias a las instrucciones paso a paso, puede configurar usuarios de forma sencilla y empezar a usar los servicios rápidamente. Puede acceder al sencillo centro de administración desde cualquier lugar para administrar todos sus servicios. Office 365 también se encarga de la TI para que sus servicios siempre estén actualizados y en funcionamiento.
		
		p
			img(class="responsive-img",src="#{pub_img}office1.png")

		h2 Planes para Pymes

	.planes
		div(class="col s12 m4")
			.plan
				h3.rojo Business
				h4 US$ 8.25 usuario / mes
				div Todos los programas de Office en PC/Mac con aplicaciones para tabletas y smartphones
				ul
					li Correo electrónico no incluido)
					li 1 TB de almacenamiento y uso compartido de archivos
					li Todos los programas de Office instalados en PC/Mac
					li Aplicaciones de Office en tabletas y smartphones
		div(class="col s12 m4")
			.plan
				h3.rojo Business Essential
				h4 US$ 5.00 usuario / mes
				div Versiones en línea de Office con correo electrónico y videoconferencias
				ul
					li Correo electrónico con buzón de correo de 50 GB
					li 1 TB de almacenamiento y uso compartido de archivos
					li Videoconferencias en HD
					li Office Online
		div(class="col s12 m4")
			.plan
				h3.rojo Business Premium
				h4 US$ 12.50 usuario / mes
				div Todas las características de Empresa Essentials y Empresa en un plan integrado
				ul
					li Correo electrónico con buzón de correo de 50 GB
					li 1 TB de almacenamiento y uso compartido de archivos
					li Videoconferencias en HD
					li Todos los programas de Office instalados en PC/Mac
					li Aplicaciones de Office en tabletas y smartphones
	div(class="col s12")
		h4 Su Office en cualquier lugar
		p Gracias a Office 365 Empresa, las herramientas conocidas como Word, Excel, PowerPoint y Outlook están disponibles en el lugar y en el momento que las necesita.

		h4 Colaboración simplificada
		p Como sus archivos se almacenan en línea, puede compartirlos con todo el mundo, e incluso crearlos de forma conjunta, en tiempo real. Independientemente de su ubicación.
		
		h4 Herramientas siempre actualizadas
		p OneDrive para la Empresa almacena los archivos en línea, por lo que siempre están sincronizados y actualizados. Además, las aplicaciones de Office siempre disponen de la última versión.
		
		h4 Confiabilidad
		p Disfrute de la tranquilidad de saber que sus servicios están disponibles con un contrato de nivel de servicio (SLA) con respaldo financiero que garantiza un tiempo de actividad del 99,9 %.
		
		h4 Seguridad
		p Los procedimientos de seguridad de última generación con cinco capas de seguridad y supervisión proactiva ayudan a proteger los datos del cliente.
		
		h4 Privacidad
		p Sus datos y su privacidad le pertenecen y nosotros los protegemos. 
		
		h4 Integración de Active Directory
		p Administre las credenciales y los permisos de usuario. Inicio de sesión único y sincronización con Active Directory.
		
		h4 Administración
		p Implemente y administre Office 365 en su compañía, no se necesita ser un experto en TI. Puede agregar y quitar usuarios en cuestión de minutos.
		
		h4 Soporte
		p El Soporte técnico de Microsoft ofrece asistencia telefónica y en línea, recursos de ayuda y conexiones con otros clientes de Office 365 para realizar configuraciones y correcciones rápidas. 

		h2 Planes Empresariales.

	.planes
		div(class="col s12 m4")
			.plan
				h3.rojo Enterprise E1
				h4 US$ 8.00 usuario / mes
				div Proporcione a sus usuarios los últimos servicios de colaboración y disfrute del control de TI y de la flexibilidad que necesita para gestionar su empresa sin problemas.
				ul
					li Correo electrónico con buzón de correo de 50 GB
					li 1 TB de almacenamiento y uso compartido de archivos
					li Videoconferencias en HD
					li Todos los programas de Office instalados en PC/Mac
					li Aplicaciones de Office en tabletas y smartphones
		div(class="col s12 m4")
			.plan
				h3.rojo Proplus
				h4 US$ 12.00 usuario / mes
				p Disponga de Office allá donde vaya. Adquiera las herramientas más recientes de productividad, colaboración, cumplimiento y BI distribuidas rápidamente, con actualizaciones sin problemas.
				p Office 365 ProPlus incluye ahora las nuevas aplicaciones de Office 2016 para equipos PC y Mac.
				ul
					li Correo electrónico con buzón de correo de 50 GB
					li 1 TB de almacenamiento y uso compartido de archivos
					li Videoconferencias en HD
					li Todos los programas de Office instalados en PC/Mac
					li Aplicaciones de Office en tabletas y smartphones
		div(class="col s12 m4")
			.plan
				h3.rojo Enterprise E3
				h4 US$ 20.00 usuario / mes
				p Dé impulso a su negocio con la última versión completa de Office, además de una amplia gama de servicios de colaboración integrados combinados con avanzadas características de cumplimiento normativo y plena eficacia de TI.
				p Office 365 Enterprise E3 incluye ahora las nuevas aplicaciones de Office 2016 para equipos PC y Mac.
				ul
					li Correo electrónico con buzón de correo de 50 GB
					li 1 TB de almacenamiento y uso compartido de archivos
					li Videoconferencias en HD
					li Todos los programas de Office instalados en PC/Mac
					li Aplicaciones de Office en tabletas y smartphones
	div(class="col s12")
		p
			img(class="responsive-img",src="#{pub_img}office2.png")
