.infraestructura#proteccion
	div(class="col s12")
		p: strong Protección Eléctrica
		p Toda instalación eléctrica que se requiere para la utilización de equipos electrónicos tienen que estar dotados de una serie de protecciones que la hagan segura, tanto desde el punto de vista de los conductores y los aparatos a ellos conectados y principalmente de las personas que han de trabajar con ella.
		p En este contexto trabajamos con APC garantizando soluciones en diferentes tecnologías de acuerdo a la necesidad para la alimentación, protección o respaldo de aquellos sistemas que deben ser suministrados eléctricamente de manera continua, debido a la importancia y cargas críticas de los procesos en que están involucrados.

		.col.s12: a(target="_blank",href="http://www.apcperu.com/index.php"): img(src="#{pub_img}i_apc.png")
		.col.s4: img(src="#{pub_img}i_apc2.png")
