.micrositios#sqlserver
	div(class="col s12")
		h2 SQL Server 2014  y la plataforma de datos de Microsoft.
		p Descubra las novedades en SQL Server, Big Data y en los servicios de datos de Microsoft Azure. Lea lo último sobre productos, clientes, asociaciones y otras noticias oficiales aquí.

		h3 Ventajas
		h4 Rendimiento confiable
		p SQL Server 2014 agiliza las aplicaciones críticas con un nuevo motor OLTP in-memory que proporciona un rendimiento transaccional hasta 30 veces superior. En cuanto al almacenamiento de datos, el nuevo almacén de columnas in-memory actualizable ofrece una velocidad de procesamiento de consultas 100 veces superior a la de las soluciones antiguas. SQL Server transmite también una gran confianza, ya que ofrece una seguridad sin parangón y se ha considerado la base de datos empresarial con menos vulnerabilidades durante seis años seguidos. (Base de datos de vulnerabilidades del National Institute of Standards and Technology, 21 de enero de 2015)

		h4 Mayor rapidez
		p En la obtención de la información privilegiada que subyace en datos de cualquier tipo #[br]
			| Obtenga información privilegiada más rápido con una plataforma BI completa que agiliza las operaciones de acceso, análisis, limpieza y formato de datos internos y externos. Con SQL Server 2014 y Microsoft Power BI es muy sencillo conectar a cada usuario de la organización con los datos correctos que necesita para tomar decisiones más inteligentes y rápidas.

		h4 Plataforma para la nube híbrida
		p SQL Server 2014 se ha diseñado para trabajar en entornos híbridos, ya sea de manera local o en la nube. Las nuevas herramientas de SQL Server y de Microsoft Azure facilitan aún más la creación de soluciones de aplicación de revisiones, de recuperación ante desastres y las copias de seguridad con Microsoft Azure. Estas herramientas proporcionan un traslado sencillo a la nube de bases de datos de SQL Server locales, lo que permite a los clientes usar sus conocimientos actuales para aprovechar las ventajas de los centros de datos globales de Microsoft.

	div(class="col s12")
		img(class="responsive-img",src="#{pub_img}sqlserver.png")

		h4 Gartner sitúa a SQL Server como líder en el Cuadrante mágico de sistemas de administración de bases de datos operativas
		p Por su “visión líder en el mercado”, su rendimiento y su ejecución sólida, Gartner ha situado a Microsoft SQL Server 2014 como líder en el Cuadrante mágico para sistemas de administración de bases de datos operativas.

		h3 Comparación.
		h4 La evolución de SQL Server
		p SQL Server 2014 permite usar una tecnología de seguridad in-memory de alto rendimiento en cargas de trabajo de análisis y BI, OLTP y de almacenamiento de datos para conseguir unas transacciones 30 veces más rápidas y un rendimiento de consultas 100 veces superior. Use SQL Server 2014 para obtener una alta disponibilidad mejorada con hasta ocho secundarios de lectura, una mayor seguridad y escalabilidad, recuperación ante desastres y copias de seguridad híbridas en las instalaciones locales o en la nube.

	div(class="col s12")
		include sql_tabla1.html
		//- p Características.
		//- p link : https://www.microsoft.com/es-es/server-cloud/products/sql-server/Comparison.aspx 

	div(class="col s12")
		h4 Rendimiento excepcional con SQL Server 2014
		p SQL Server 2014 ofrece un rendimiento excepcional con la tecnología in-memory integrada en la base de datos para realizar transacciones, consultas y análisis, y permite obtener más rápidamente insights de los datos mediante herramientas de análisis conocidas y soluciones Big Data listas para la empresa. Un modelo de programación coherente y herramientas comunes tanto en entornos locales como en la nube admiten infraestructuras y escenarios híbridos.

	div(class="col s12")
		include sql_esquema2.html
		//- p Características.
		//- p link : https://www.microsoft.com/es-es/server-cloud/products/sql-server/Features.aspx
