.infraestructura#virtualizacion
	div(class="col s12")
		p: strong Virtualización
		p Consiga una virtualización de tipo empresarial para su centro de datos y nube híbrida
		p Refuerce la eficiencia y la flexibilidad de las tecnologías de la información con una implementación y un mantenimiento virtualizados y más rápidos de las aplicaciones. Las soluciones de virtualización permiten reducir los costos mediante la consolidación de un mayor número de cargas de trabajo en menos servidores. Mejore la agilidad y la flexibilidad de TI de manera local y en la nube con las soluciones de virtualización.
		p En Multimport tenemos la experiencia necesaria en virtualización de los diferentes fabricantes lo que nos permite tener un conocimiento amplio de las soluciones de:
		
		.col.s12.m4: a(target="_blank",href="https://www.microsoft.com/es-es/server-cloud/solutions/virtualization.aspx"): img(src="#{pub_img}i_windows.png")
		.col.s12.m4: a(target="_blank",href="https://www.redhat.com/en/technologies/virtualization"): img(src="#{pub_img}i_redhat.png")
		.col.s12.m4: a(target="_blank",href="http://www.vmware.com/latam/virtualization/overview"): img(src="#{pub_img}i_vmware.png")
