.micrositios#windowsserver
	div(class="col s12")
		h2 Windows Server 2012 R2

		p Disfrute de una mayor flexibilidad y agilidad
		Windows Server 2012 R2, que ocupa un lugar central en la estrategia de Microsoft Cloud Platform, aporta la experiencia de Microsoft al dotar su infraestructura de servicios en la nube de escala global, gracias a las nuevas características y mejoras en virtualización, administración, almacenamiento, redes, infraestructura de escritorio virtual, protección de la información y del acceso, plataforma de aplicaciones y web, etc.

		h4 Ventajas
		p Con Windows Server 2012 R2 podrá ejecutar las cargas de trabajo más importantes y dispondrá de opciones de recuperación sólidas. Recuperará la inversión rápidamente gracias al amplio abanico de opciones de almacenamiento rentables y de alto rendimiento, además de la entrega simplificada de servicios de TI multiempresa. Puede crear, implementar, utilizar y supervisar aplicaciones en un entorno local y en la nube. Provea a los usuarios un acceso seguro a los recursos corporativos en los dispositivos que ellos elijan.
	
	div(class="col s12 ventajas card azul")
		.card-content
			div(class="col s12 l6 ventaja")
				div(class="col s3")
					img(src="#{pub_img}microsoft1.png")
				div(class="col s9")
					h4 Empresarial
					p Mejore el rendimiento y escale la capacidad de manera más eficaz para ejecutar las cargas de trabajo de mayor tamaño mientras habilita opciones de recuperación sólidas para protegerse de las interrupciones imprevistas.
			div(class="col s12 l6 ventaja")
				div(class="col s3")
					img(src="#{pub_img}microsoft2.png")
				div(class="col s9")
					h4 Sencillo y rentable
					p Suministre almacenamiento multiempresa y funciones de red de arquitectura multiempresa para almacenamiento y conectividad con hardware estándar del sector a bajo costo.
			div(class="col s12 l6 ventaja")
				div(class="col s3")
					img(src="#{pub_img}microsoft3.png")
				div(class="col s9")
					h4 Orientado a las aplicaciones
					p Gracias a la compatibilidad mejorada con los marcos abiertos, es posible compilar, implementar y escalar aplicaciones y sitios web de manera más flexible al permitir la portabilidad de las aplicaciones entre los entornos locales y las nubes públicas y de proveedores de servicios.
			div(class="col s12 l6 ventaja")
				div(class="col s3")
					img(src="#{pub_img}microsoft4.png")
				div(class="col s9")
					h4 El usuario en el punto de mira
					p Implemente una infraestructura de escritorio virtual y reduzca los costos de almacenamiento de manera significativa. Aproveche para esto las distintas opciones de almacenamiento y la desduplicación de discos duros virtuales.

	div(class="col s12")
		h4 La evolución de Windows Server
		p Windows Server 2012 R2 resulta en un rendimiento elevado y acomoda cargas de trabajo de gran escala e innovaciones en la infraestructura para almacenamiento, identidad, redes, virtualización y más. Windows Server 2012 R2 es una plataforma de categoría empresarial que ofrece 5 veces más procesadores lógicos, 4 veces más memoria física y 16 veces más memoria para cada máquina virtual. La siguiente tabla ofrece un resumen de las características disponibles en las diferentes versiones de Windows Server.

		p Compare la escalabilidad de Windows Server 
		//- visitando el siguiente vínculo https://www.microsoft.com/es-xl/server-cloud/products/windows-server-2012-r2/Comparison.aspx
		div
			include windows_tabla1.html

		p Compare las versiones de Windows Server 

		div
			include windows_tabla2.html

		p La plataforma de servidor y nube sencilla y económica
		p Windows Server 2012 R2 le permite aprovechar sus conocimientos e inversiones existentes para optimizar el negocio para la nube.

		p Compare las características visitando el siguiente 
		//- vínculo  https://www.microsoft.com/es-xl/server-cloud/products/windows-server-2012-r2/Features.aspx
		div
			include windows_esquema3.html