googleFonts='Open+Sans|Roboto|Dosis|Neucha|Montserrat|Orbitron|Merriweather|Raleway';
googleFonts= false

if googleFonts
	@import url('https://fonts.googleapis.com/css?family='+googleFonts)

// icomoon
work_stylus='../../../../work/sources/stylus/'

// dirs
imgs               = '../../public/img/'
load_imgs          = '../../../public/img/'


// colors
angle              =0deg

color1             =#084ea3 + angle //red
color2             =#4e9af6 + angle //blue
color3             =#9e9e9e + angle + angle //grey
color4             =lighten(#000000,35) + angle //black
color5             =#014087 + angle
color6             =#357BB2 + angle




//
ratio_header       =1


// widths
maxwide            = 1115px
// maxwide            = 70%

mobile             = 600px
tablet             = 992px
container 			 = maxwide


// media queries
$small        = 'only screen and (max-width : '+mobile+')'
$small-medium = 'only screen and (max-width : '+tablet+')'
$large        = 'only screen and (min-width : '+tablet+')'
$medium-large = 'only screen and (min-width : '+mobile+')'
$maxim        = 'only screen and (max-width : '+maxwide+')'

$large-medium = $medium-large
$medium-small = $small-medium 



// BLOCKS
body_color         =white

pre_header_height  = 35px
pre_header_bgcolor = #f49207
pre_header_textcolor= white

// header_img_path    =load_imgs+'header-bg.jpg'
// header_bg          =white url(imgs+'header-bg.jpg') no-repeat center
// header_height      =image-size(header_img_path)[1]

logo_img 		  ='logo.png'
logo_ratio 		  =1
logo_img_path    =load_imgs+logo_img
// logo_width       =image-size(logo_img_path)[0]*logo_ratio
logo_width       =117px
logo_height      =image-size(logo_img_path)[1]*logo_ratio


menu_top_bgcolor   =color6
menu_top_textcolor =white
menu_top_height    =60px

main_bgcolor       =white

footer_bgcolor     =#e47c0c
footer_textcolor   =white
footer_height 	 	 =41px

pre_footer_bgcolor =#666
pre_footer_textcolor=white



//materialize
@import '../../../public/vendor/css/materialize.min.css'

//work mixins
@import work_stylus+'mixins.styl'
//work blocks
@import work_stylus+'fix.styl'
@import work_stylus+'icomoon.styl'
@import work_stylus+'common.styl'
@import work_stylus+'galleries.styl'




//blocks
@import 'blocks/*'




//layouts
@import 'layouts/*'






// Begin Components
@import '../../../../work/app/sources/components/common/common.styl'
@import '../../../../work/app/sources/components/menu_left/menu_left.styl'
@import '../../../../work/app/sources/components/block_gallery/block_gallery.styl'
@import '../../../../work/app/sources/components/block_post/block_post.styl'
@import '../../../../american/app/sources/components/product_detail/product_detail.styl'
@import '../../../../onelimites/app/sources/components/form_consulta/form_consulta.styl'
// Finish Components

