.p-videos
	h1
		font-family arial
	ul.gallery.videos
		.col
			.card
				.card-content
					padding 5px 4px
					a
						background transparent !important
						// color #3a3a3a
						color #000
						font-weight normal
						box-shadow initial
						width 100%
						padding-left 0 !important
						padding-right 0 !important	
						overflow hidden	
						font-size 12px			
				