

//grid
.grid
	img
		margin-top 0.7em
	h4
		color color5
		font-weight 700
		text-transform uppercase
	h5
		color darken(color1,15)
		font-size 1em
		font-weight 500
	.card
		min-height 70px
		@media $small-medium
			min-height 0
	.more
		margin .5em 0
		float right
		background color5
		