include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header

		include includes/banner
		
		main
			include blocks/locales.jade

		include blocks/popup.jade
		
		include includes/footer.jade

		include common/foot.jade