include ../../../../work/sources/jade/includes.jade

block body

	include common/header.jade

	include blocks/banner.jade
	
	main
		include blocks/locales.jade

	include blocks/popup.jade
	
	include common/footer.jade
