include ../../../../work/sources/jade/includes.jade

block body

	include common/header.jade

	main(class="container")
		-responsive = "s12 m4 l3"
		include blocks/gallery_photos.jade

	include common/footer.jade
