  // body {
  //   display: flex;
  //   min-height: 100vh;
  //   flex-direction: column;
  // }


body
	> section 
		width 100%
		text-align center
		margin-bottom 0px
		color #000
		font-weight 100
		font-size 1.1em
		// margin-top 10px
h1,h2,h3
	color color1 !important
h1,h2
	font-size 2rem !important
h3,h4,h5,h6
	font-size 1.6rem !important

		

.btn
	background-color color1 !important
	color white
	height 58px		
	line-height @height
	border-radius 8px
	&:hover
		background-color color2 !important


.collection
	.collection-item
		a
			color color1
			text-transform uppercase
			display block
			font-weight 400
		&.active
			background-color color2
			color white
			a
				color inherit

// .title
// 	text-align center
// 	font-size 2.6em
// 	font-family Impact
// 	font-weight bold
// 	color yellow
// 	text_border(color1)

// .titlesvg
// 	text-align center
// 	svg
// 		display inline-block
// 		margin 0 auto
// 		width 650px
// 		height 52px
// 		// border 1px solid #000
// 		background-color #ddd
// 		// text-align center
// 		text
// 			font-weight bold
// 			fill lighten(color1,8)
// 			fill white
// 			stroke darken(@fill,50)
// 			stroke color1
// 			stroke-width 1px
// 			font-size 56px
// 			font-family Impact
// 			// font-family Orbitron
		

				