.collection
	.collection-item
		a
			display block
			font-weight bold
		&.active
			background-color color1
			color white
			a
				color inherit
				
				
section.footer_pre
	margin-top -20px !important
	background-color footer_pre_bgcolor
	color footer_pre_textcolor
	strong 
		color color1