.collection
	.collection-item
		a
			display block
			font-weight bold
		&.active
			background-color color1
			color white
			a
				color inherit

body
	background #EBFBFB url(imgs+'fondo.jpg') repeat-x center 145px fixed

main
	background-color rgba(white,0.5) !important

section.footer_pre
	padding-top 1em
	padding-bottom 1em
	margin-top -20px !important
	background-color footer_pre_bgcolor
	color footer_pre_textcolor
	font-size 0.97em
	// font-weight 400
	font-family Arial
	strong 
		color color1
	p 
		margin 0.1em


footer
	background transparent !important
	nav > ul > li
		text-shadow 1px 3px 2px black
	.prodiserv
		color white !important