

// header
header
	@media $large
		height auto !important	
	nav
		background-color white
		height auto
		line-height @height
		.container
			position relative
		@media $large
			position relative !important
			background-color menu_top_bgcolor
		.button-collapse
			color color1
		h1
			display none
		.brand-logo
			img
				height 54px			
				@media $small
					height 34px
					margin-top 10px
			@media $large
				opacity 0
				width maxwide
				height header_height
				margin-top unquote('-'+ header_height)
				img
					width 100%
					height 100%
		.top
			position absolute
			right 25px
			bottom 60px
			text-align right
			h3
				margin 0 0 10px 0
				font-weight bold
			.email
				font-size 20px
				color black
				text-shadow 1px 3px 2px rgba(red,0.4)
			.whatsapp
				color lighten(black,20)
				font-size 26px
				padding-left 30px
				// text-shadow 1px 3px 2px rgba(black,4.2)
				text-shadow 1px 3px 2px rgba(red,0.4)
				&:before
					color green
					content '\e900'
					font-family icomoon
					margin-right 7px
					text-shadow initial
					font-size 23px
	// .list 
	// 	position absolute
	// 	right 0px
	// 	bottom 55px 
	// 	height auto
	// 	display block
	// 	width 380px
	// 	li
	// 		color black
	// 		display block
	// 		position relative
	// 		heigh auto
	// 		margin-left 1em
	// 		// float right
	// 		// margin-bottom 0.5em
	// 		// icomoon("e683")
	// 		// &:before
	// 		// 	font-size 1em
	// 		// 	margin-right 0.3em
	// 		a
	// 			position relative
	// 			display block
	// 			background white
	// 			border-radius 5px
	// 			color #333
	// 			font-size 0.85em
	// 			padding 0em 0.7em
	// 			margin 0.4em 0
	// 			height 2.4em
	// 			width 175px
	// 			line-height @height
	// 			border 1px solid color6
	// 			box-shadow initial
	// 			&:hover
	// 				background color6
	// 				color white
	// 			// line-height 2.1em

	// 		&:hover
	// 			background-color inherit
	// 	a
	// 		text-transform uppercase
	@media $large		
		&::before
			display block
			background header_bg
			height header_height	
			content ""	
			width 100%
			




.menu_top
	height menu_top_height
	margin-top 0px
	display block
	li
		height auto
		a
			color menu_top_textcolor
			font-weight 700
			font-size 0.9rem
			height menu_top_height
			line-height @height
			text-transform uppercase
			font-family
			&:hover
				text-decoration none





.menu
	// background red !important
	> li
		// background-image linear-gradient(top,transparent,lighten(color2,15))
		position relative
		margin-right 2px
		a
			font-family Roboto !important
		.submenu
			display none
			position absolute
			top 100%
			left 0px
			background white
			min-width 100%
			width auto
			> li
				display block
				width 100%
				border-bottom 1px solid color6
				&:last-child
					border-bottom 0
				>a
					display block
					white-space nowrap
					height 25px
					line-height @height
					color black
					font-size 0.9em
					font-weight 400
		&:hover
			.submenu
				display block
				





.side-nav
	left 0 !important





		
@media $large
	body.headfixed
		padding-top header_height + menu_top_height
		header
			nav
				position fixed !important
				top 0px
			&::before
				display none
					


			

