


// banner
.slider
	container_center()
	margin-bottom -40px
	h3,h5
		color white
	.indicators
		bottom 40px
		z-index 2
		.indicator-item
			&.active
				background-color color1
	.slides li .caption h3
		background-color rgba(black,0.4)
		padding 1em
		float left
		font-size 1.5em
		border-radius 20px
		text-shadow 4px 4px 2px black;
		
				
				