include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header

		include blocks/breadcrumb.jade

		main.container
			
			include forms/contact.jade
		
		include includes/footer

		include common/foot.jade