@import url('https://fonts.googleapis.com/css?family=Open+Sans')

// icomoon
work_stylus='../../../../work/sources/stylus/'

// dirs
imgs               = '../../public/img/'
load_imgs          = '../../../public/img/'


// colors
angle              =0deg

color1             =#0076BB + angle //red
color2             =black + angle //blue
color3             =#9e9e9e + angle + angle //grey
color4             =lighten(#000000,35) + angle //black
color5             =#71BBE0 + angle
color6             =#357BB2 + angle



// blocks
body_color         =white

header_img_path    =load_imgs+'header-bg.jpg'
// header_bg          =white url(imgs+'header-bg.jpg') no-repeat center
// header_height      =image-size(header_img_path)[1]

menu_top_bgcolor   =color6
menu_top_textcolor =white
menu_top_height    =60px

main_bgcolor       =white

footer_bgcolor     =white
footer_textcolor   =black


//
ratio_header       =1


// widths
maxwide            = 1160px
bannerwide         = 1360px

mobile             = 600px
tablet             = 992px
container 			 = maxwide



// media queries
$small        = 'only screen and (max-width : '+mobile+')'
$small-medium = 'only screen and (max-width : '+tablet+')'
$large        = 'only screen and (min-width : '+tablet+')'
$medium-large = 'only screen and (min-width : '+mobile+')'
$maxim        = 'only screen and (max-width : '+maxwide+')'

$medium-large = $large-medium
$medium-small = $small-medium 



//materialize
@import '../../../public/vendor/css/materialize.min.css'

//work mixins
@import work_stylus+'mixins.styl'
//work blocks
@import work_stylus+'fix.styl'
@import work_stylus+'icomoon.styl'
@import work_stylus+'common.styl'
@import work_stylus+'galleries.styl'


html 
	font-family 'Open Sans', sans-serif;
	@media $small
		font-family 'Roboto', sans-serif
		font-size 1.05em

		
//blocks
@import 'blocks/*'




//layouts
@import 'layouts/*'




