form 
	input, textarea
		background none !important
		border 2px solid color2 !important
	label
		color color1 !important
		padding-left .5em !important
		&.active
			color color2 !important
			top .5rem !important
			padding-left 0 !important


.form_consulta
	.card-panel
		border-bottom 4px solid color2 !important