@keyframes animacion_telefono
	0%
		margin-right 10px
	100%
		margin-right 20px

.header_pre
	nav
		background darken(#ee484d,20)
		// background #000
	.phone
		font-size 16px
		font-weight bold !important
		cursor default
		// text-shadow 0px 0px 15px color2 
		text-shadow 0px 0px 0px
		transition all .5s
		&:before
			transition inherit
			animation-iteration-count 3
			color color2 !important
		&:hover
			text-shadow 0px 0px 15px color2 
			&:before
				animation-name animacion_telefono
				animation-duration .5s
				animation-iteration-count infinite
				animation-direction alternate
				animation-timing-function ease
				// color green !important
				// margin-right 20px !important
				// transform translate(-100%,0) scale(0) !important
			// color color2 !important
			