.p-photos
	.galleries 
		ul 
			li 
				.card
					over_shadow_2()
					zoom(1.05)
					@media $large-medium
						.card-content 
							padding 10px
							height 60px
							display flex
							align-items center
							justify-content center
							// line-height 60%
							h3
								line-height initial
								height auto
								margin 0
								padding 0
								// white-space nowrap
								a
									font-size 14px
