
.products_gbl {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;}
	
.call_me {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;}
	
.call_me_tit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0E78C7;}

.style_contact01 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff6600;}
	
	.style_contact02 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;}
	.style_contact03 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #0C7AB6;}
	.style_contact04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;}
	.style_contact05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #ff6600;}

.style_servicios {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;}
	
.siguenos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;}
	
.consultoria {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;}
	
.consultoria2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1089E2;
	font-weight: bold;}
	
.codigo {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 11px;
	color: #ff0000;
}
.codigop {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}
.precio_camion {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 15px;
	color: #ff0000;
}
.sumarseg_tit {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
}
.venta_de_camiones_tit2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 16px;
	color: #ff0000;
	font-weight: bold;
}

.gris {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 10px;
	color: #999999;
	}

.style_tit {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
}

.style_tit2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #cc0000;
	font-weight: bold;
	}
.style_titulos {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #1089E2;
	font-weight: bold;
}

.titulos {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	font-weight: bold;
}
.style_titulos2 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
	font-weight: bold;
}
.style_tit_razones {
	font-family: Century Gothic, Century Gothic, Helvetica, sans-serif;
	font-size: 14px;
	color: #1f3652;
font-weight: bold;}


.style_texto1 {
	font-family: Arial, Century Gothic, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
.style_derecho {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;}
	
	
	.style_bienvenidos {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;}
	
	