
// header
header
	@media $large
		height auto !important
		background url(imgs+'bgheader.png') bottom center repeat-x !important
		padding-bottom 25px
		nav
			box-shadow none
	.container
		position relative
	@media $$large
		height auto !important	
	.list 
		position absolute
		right 0px
		bottom 80px 
		height auto
		display block
		width auto
		li
			color black
			display block
			position relative
			heigh auto
			margin-left 1em
			overflow hidden
			transform rotate(9deg)
			transition transform 0.5s
			border-radius 0 12px 12px 0
			&:hover
				transform rotate(-9deg)
			a
				position relative
				display block
				border-radius 2px 12px 12px 2px
				font-size 22px
				margin 0 0 0 40px
				height 55px
				width auto
				line-height @height
				box-shadow initial
				font-weight 700
				z-index 1
				padding-left 1em
				background #D8385E
				color white
				text-shadow 2px 2px #000
				&:before
					content ""
					background inherit
					height 45px
					width @height
					position absolute
					border-radius 30%
					left -22px
					top 5px
					transform rotate(45deg)
					z-index -1
				&:after
					content ""
					height 15px
					width @height
					border-radius 50%
					background white
					position absolute
					z-index 2
					left -15px
					top 18px
				&:hover
					background color6
					color white
					text-decoration none

			&:hover
				background-color inherit
		a
			text-transform uppercase
			
	nav
		background white
		height auto
		line-height @height
		transition background 1s
		box-shadow none
		// top 27px
		.mdi-navigation-menu:before
			color black
		@media $large
			position relative !important
			background-color white
		.button-collapse
			color white
		h1
			display none
		.brand-logo
			img
				height 56px
				@media $small
					height 40px
					margin-top 8px
					// max-width 90%
				@media $large
					display none
			// @media $large
			// 	opacity 0
			// 	width maxwide
			// 	height header_height
			// 	margin-top unquote('-'+ header_height)
			// 	img
			// 		width 100%
			// 		height 100%
		a
			text-transform uppercase
	@media $large		
		&::before
			display block
			// background header_bg
			// height header_height	
			content ""	
			width 100%
			

.menu_top
	height 110px
	line-height @height
	margin-top 0px
	// display block
	display flex
	// display none
	justify-content center
	overflow visible
	// overflow-y hidden
	li
		background white !important
		padding .1em 0
		// height 200%
		a
			background white 
			// height 50px
			// line-height 30px
			padding .1em 0
	> li
		background white
		flex-grow 1
		flex-shrink 1
		flex-basis auto
		text-align center
		position relative
		white-space nowrap
		// icomoon('e64b')
		// &:before
		// 	position absolute
		// 	bottom 22px
		// 	left 40%
		// 	font-size  1em
		// 	height 0px
		// max-width 120px
		height 100%
		// vertical-align middle
		display inline-block
		// background-color red
		padding 0 14px 0 12px
		a
			// transition border-radius .3s
			text-align center
			vertical-align middle
			display inline-block
			font-weight 500
			// font-family Roboto
			// height 22px
			line-height 22px
			// background url(imgs+'menu_2.png') repeat-x 0,0
			// padding 0.54em 0em
			// padding 2.9em 0
			// background inherit
			width 100%
			// border-radius 8px
			// background #697f8a
			color #000
			padding .3em 0em
			// @media only screen and (max-width : 1100px )
			// 	padding-left 1.8em
			// 	padding-right @padding-left
			// background lighten(yellow,45)
			position relative
			// margin-left 20px
			// margin-right 20px
			// &:before
			// 	position absolute
			// 	left -12px
			// 	top 0
			// 	content ""
			// 	width 12px
			// 	height 22px
			// 	background url(imgs+'menu_1.png') no-repeat 0,0
			// &:after
			// 	position absolute
			// 	right -14px
			// 	top 0
			// 	content ""
			// 	width 14px
			// 	height 22px
			// 	background url(imgs+'menu_3.png') no-repeat 0,0
			// 	z-index 3
			font-size 13px
			&:hover
				text-decoration none
		&:hover, 
		&.active
			// background-color #fff //submenu
			a
				// background-color rgba(black,0.1);
				background-color #CF050D //submenu
				color menu_top_item_active_textcolor
				border-radius .7em
		&.logo
			background transparent !important
			// margin-top 10px
			a
				// display inline-block
				width logo_width
				height 100%
				color transparent
				background url(imgs+'logo-daihatsu-header.jpg') no-repeat 0 center
				background-size 100%
				// background-size contain
				line-height 100%
				padding 0 1.3em 0 0
				margin-right 128px
				// margin-top 10px
				&:hover
					color transparent !important
				&:before,&:after
					display none
				// margin-top 0.1em
	&:after
		content ""
		height 10px
		width 100%
		position absolute
		bottom -10px		
		left 0





.menu
	// background red !important
	> li
		// background-image linear-gradient(top,transparent,lighten(color2,15))
		position relative
		margin-right 2px
		a:hover
			color inherit !important
		// &:hover:before
		// 	content ""
		// 	position absolute
		// 	width 0
		// 	height 0
		// 	border-left 7px solid transparent
		// 	border-right 7px solid transparent
		// 	border-bottom 5px solid white
		// 	bottom 0px
		// 	left 50%			
		.submenu
			overflow hidden
			position absolute
			// top 100%
			top 64%
			left 0px
			background inherit
			min-width 100%
			width auto
			z-index 5
			> li
				margin-top -100px
				transition margin-top .5s
				background inherit
				display block
				width 100%
				overflow hidden
				border-bottom 1px solid lighten(color6,40)
				text-align left
				&:before
					content ""
				&:last-child
					border-bottom 0
				> a
					color inherit
					background inherit
					display block
					white-space nowrap
					font-size 0em
					transition font-size .5s,color 1s
					padding-top .9em
					padding-bottom @padding-top
					padding-left 0.6em
					padding-right 0.6em
					text-align left
					height auto
					line-height 60%
					&:hover
						color black !important
						background rgba(#81C3E5,0.2)
		&:hover
			.submenu
				> li
					margin-top 0px
					color black
					> a
						font-size 0.9em
						font-weight 400

				
		





.menu_left	
	li
		border-bottom 1px solid color6
		&:last-child
			border-bottom 0
		a
			line-height 1.5em !important
			height auto !important
			padding-top 1em
			padding-bottom 1em
			display block
			vertical-align middle
			text-transform capitalize !important
			// font-weight 400
			&.promociones
				displa block
				icomoon('e678')
				&:before
					color #c62665
					float right
					font-size 1.4em
					margin-right -0.8em
		&.collapse .collapsible-header
			padding 1em 0 1em 1em !important
			// &.collapsible-header
			// 	font-weight bold
	&.collapsible
		.collapsible-header
			font-weight 700
			padding .8rem 1rem
			text-transform capitalize
		.collapsible-body
			li
				border-bottom 0
				a
					margin-left 0em
					color color1
					font-weight normal				
				&.active
					background-color lighten(#ddd,4)
					a
						color black
	&.collapsible-accordion
		li.collapse
			padding 0
			



		
@media $large
	body.headfixed
		padding-top 151px
		.preheader
			display none



		header
			nav
				// background rgba(#357bb2,0.9)
				background white			
				position fixed !important
			&::before
				display none
			li
				a
					font-size 0.80em
					// padding-left 0.2em
					// padding-right 0.2em
					color black
					&:hover
						color black !important
				&.logo
					padding 0 0.5em
					a
						display inline-block
						width 120px
						height auto
						color transparent
						background url(imgs+'logodetallitos.png') no-repeat
						background-size contain
						line-height 100%
						margin-top 0.1em
					&:hover
						background-color transparent
						a
							color transparent	!important
					&.active
						background white
						




.preheader
	nav
		height pre_header_height
		background-color pre_header_bgcolor
		color pre_header_textcolor
		.menu 
			> li
				line-height pre_header_height
				// padding-left 0.3em
				padding-right 0.3em
				a
					height pre_header_height
					color inherit
					&:before
						content ""
						width 24px
						height 100%
						float left
						margin-right 0.3em
						background-position 0 center
						background-repeat no-repeat
				&.facebook a, &.twitter a, &.whatsapp a
					padding 0
				&.facebook a
					icomoon('e902')
				&.twitter a
					icomoon('e901')
				&.whatsapp a
					icomoon('e900')
				&.bola, &.phone, &.email
					float right
				&.bola a:before
					background-image url(imgs+'ico_bola.png')
				&.phone a
					icomoon('e620')
				&.email a
					icomoon('e679')
					

