section(class="footerpre2")
	div(class="container row")
		div(class="col s12 l4")
			p #[strong C.E.O.]#[br]
				| Ing. Walter Távara#[br]
				| #[span Nuestro servicio se basa en que tu crecimiento y confianza garantizan nuestro crecimiento.]

		div(class="col s12 l4")
			p #[strong Teléfono]:#[br]
				| WhatsApp : 998920047
		div(class="col s12 l4") 
			p #[strong Email]:#[br]
				//- | Av. Arenales 1724 Dpto.509 Lince#[br]
				| servicios@prodiserv.com
