// com-galleries
@media only screen and (min-width : bp_mobile)
	
	.com-galleries
		.item
			display flex
			align-items center			
			height 230px
			margin-bottom 20px
			// overflow hidden
			
@media only screen and (min-width : bp_tablet)

	.com-galleries
		.item		
			height 140px