.p-home
	@media $large
		main
			background-color transparent
			.line_one
				display inline-block
				width 100%
				background-color #B80001
				color white
				.col
					.card
						background-color lighten(#B80001,4)
						min-height 250px
						h2,h3,h4,h5
							font-weight bold
							color darken(white,20)
							margin-top 0px
						h2,h3
							font-size 1rem
							color yellow
						li
							font-size 0.8rem
						strong
							color yellow
						a
							color inherit
				.block_one
					li	
						padding 0.5em 0
						border-bottom 1px solid rgba(white,0.5) !important					
				.block_four
					.card-content
						padding-left 8px
						peggint-right 0
						font-size 0.95em
		// .bar
		// 	h1,h2
		// 		font-size 1em
		// 		font-weight bold
		// 	h3
		// 		font-size 0.9em
		// 	h4,h5
		// 		font-size 0.9em
		// 		color black
		// 		// margin-bottom 0.4em
		// 	h6
		// 		margin-top 0.5em
		// 	&.sidelef
		// 		.card
		// 			min-height 0
		// 			padding-left 30px
		// 			// background white url(imgs+'arrow.png') no-repeat
		// 			h4
		// 				min-height 0.65em
		// 				line-height @min-height
		// 				vertical-align middle
		// 				font-size 1em
		// 	&.sideright
		// 		h4
		// 			margin-top 0
		// 			// max-height 2.1em
		// 			// overflow hidden	
				
		// .post
		// 	h2
		// 		font-size 0.9em
		// 		margin 0
		// 	.card-panel
		// 		min-height 467px
				
				
		// .homefooter
			
		// 	background-color black
		// 	a,p
		// 		color white !important		
		// 	ul
		// 		// border-color darken(color2,4)
		// 		border-color transparent !important
		// 		li
		// 			background-color transparent
		// 			// border-color inherit !important
		// 			border-color inherit !important
		// 			margin-bottom 0.7em
		// 			padding-bottom 0.5em
		// 			a
		// 				font-size 0.9em
		// 				overflow hidden
		// 				max-height 3em
		// 				display block
		// 	.block_one
		// 		li	
		// 			border-bottom 1px solid #e0e0e0 !important
		// 		a.more
		// 			color color6 !important
		// 			text-decoration underline
					
		// 	.block_two
		// 		li
		// 			margin-bottom 0.2em
		// 	.block_four
		// 		.card-content
		// 			padding-left 5px
		// 			padding-right 5px
		// 			font-size 0.9em
						
		// 	div
		// 		background-color inherit !important
		// 		border-color transparent !important
		// 		// box-shadow none
		// 	.card
		// 		background-color color5
		// 		min-height 260px
		// 		@media $small-medium	
		// 			min-height 0
		// 		li
		// 			font-size 0.9rem
					
		// 	h3
		// 		font-size 0.8em
		// 		margin 0
		// 		color color6
		// 		text-align center