.block_gallery_products 
    .container 
        h2
            font-size 23px !important
        .card-content
            background #dfdfdf !important
            .btn.name
                color #06c !important
                font-size 15px !important
        > ul.row 
            li.col 
                .card
                    border solid 1px #da251b
                    padding 4px