header
	nav > .container > .menu_top 
		text-align center !important
		display block !important
		> li
			display inline-block !important
			float none !important
		> li.brand-logo
			display block !important
			text-align center !important
			> a 
				text-align center !important
				img
					height 72px
			@media $small-medium
				height 60px
				// margin-top 0px
				margin-bottom -5px
				> a 
					height inherit
					overflow hidden
					img
						height inherit !important
						margin-top -13px
						// margin-bottom 20px
			@media $small
				height 50px
				// margin-top 0px
				margin-bottom -2px
				> a 
					height inherit
					overflow hidden
					img
						height inherit !important
						margin-top -13px
						// margin-bottom 20px
body.headfixed
	header
		nav > .container > .menu_top 
			display flex !important
