.p-forms
	.text 
		padding-top 4.1em
		font-size 1.55em
		font-weight 300
	.form
		form
			margin-top 4em
			padding-bottom 4em
			input, textarea
				background-color #ECECEC
				border-bottom 0
				border-left 10px solid #ECECEC
				font-weight 400
				border-radius 5px
				&:focus
					border-bottom 0
					box-shadow none
				&::placeholder
					color #8c8c8c
			textarea
				height 273px
			button
				float right
				background-color #63BDBD
				margin-right -7px