.p-pagesphotos
	.galleries
		max-width 1280px
		h1
			visibility hidden
		ul
			margin-top -10px
			display block
		.col
			padding 0 1em 5.5em 0
			.card 
				box-shadow none
				border-radius 10px
				overflow visible
				background-color transparent
				.card-image
					height 338px
					margin-bottom 30px
					background-color transparent
					border-radius 10px
					position relative
					img
						margin 0
						width 338px
						height @width
					&:before
						display none
				a.btn
					position absolute
					bottom -20px
					left 15%
					width 70%
					border-radius 8px
					background-color #67BDBC
					height 49px
					line-height @height
					font-size 1.4em
					font-weight 100
					padding-left 0
					padding-right 0
					font-weight 400
					&:hover
						background-color #3B2E76
						text-decoration none						
			&:nth-child(4)
				a.btn 
					font-size 1.1em
					line-height 1.1sem
					padding-top 0.6em
					padding-left 3.5em
					padding-right 3.5em
					
		img
			visibility visible
			
	.post 
		max-width 1280px		
		h1
			display none
		.card-panel
			box-shadow none
			.photo
				padding-top 230px
				padding-bottom 300px
			.text 
				padding-top 1.5em
				padding-bottom 1.5em
				display flex
				align-items center
				min-height 950px
				vertical-align middle
				p 
					font-weight 300
					strong
						font-weight 400	
	.pages_footer
		display none
		

			

