if(popup)
	.modal#popup
		.modal-footer
			a(onclick="javascript:$('#popup').modal('close');",class="modal-action modal-close waves-effect waves-green btn-flat") Cerrar
		.modal-content.center-align
			h4 HOTEL PUNTA PARIÑAS, agradece su preferencia
			p 
				| Reaperturamos nuestros servicios cumpliendo con el Protocolo Sanitario Sectorial ante el Covid-19 para hoteles categorizados- MINCETUR.