include common/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include includes/header

		//- include blocks/breadcrumb.jade

		include blocks/image.jade

		main.container
			
			include forms/form.jade
		
		include includes/footer.jade

		include common/foot.jade