footer
	background-color black
	li
		a
			color white !important	
	.submenu
		a
			color black !important


.footerpre1
	padding-bottom 1em
	background-color color5
	h3
		color white !important
		text-transform uppercase
		font-size 1.1em !important
		font-weight bold !important
	ul
		@media $small-medium 
			min-height 220px
		li
			padding-left 1em
			a
				color black
				font-size 0.8em
				position relative
				&:before
					content "-"
					// font-family icomoon
					font-size 1em
					position absolute
					left -1em
					top 0em
					@media $small-medium 
						content "-"
	.container
		position relative	
		.icom
			position absolute
			color black
			font-size 1.5em
			&:hover
				text-decoration none
			
		.facebook
			bottom 14px
			right 3em
		.twitter
			bottom 14px			
			right 1em


.footerpre2
	background-color black
	margin-top -20px !important
	background-color footer_pre_bgcolor
	color white
	strong 
		color #A7D747
	.ceo
		strong
			font-style italic