include ../../../../work/sources/jade/includes.jade
		
block body

	include common/header.jade

	main(class="container row")

		-item_responsive = "col s12 m4 l3"

		-gallery = project
		
		.wide
			include blocks/gallery.jade
	
	include common/footer.jade