include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	body(class="#{classbody}")

		include common/header.jade

		include blocks/banner.jade
		
		main(class="container row")

			div(class="col s12")

				div(class="col s12 m3 bar sidelef")
					-grid = project_groups
					-responsive = ""
					include blocks/grid_card.jade

				div(class="col s12 m6 bar")
					-responsive = ""
					include blocks/post.jade

				div(class="col s12 m3 bar sideright")
					-grid = projects
					-responsive = ""
					include blocks/grid_card.jade


			div(class="col s12  bar links")
				.card-panel
					.card-title: h2 Enlaces
					.responsive
						each ite in links.items
							div.ite
								+img_item(ite)
								h4.name #{ite.name}


		//- div(class="container row homefooter")

		//- 	div(class="col s12 m6 l3 block_one")
		//- 		+list_card(news)

		//- 	div(class="col s12 m6 l3 block_two")
		//- 		+list_card(links)

		//- 	div(class="col s12 m6 l3 block_three")
		//- 		+card(video)

		//- 	div(class="col s12 m6 l3 block_four")
		//- 		+card(phones)



		include common/footer.jade

		include common/foot.jade
