include ../../../../work/sources/jade/includes.jade
		
block body

	include common/header.jade
	
	main(class="container row")

		-responsive="col s12"

		-grid=news

		.wide
			include blocks/grid.jade

	include common/footer.jade