include ../../../../work/sources/jade/includes.jade
doctype html
html(lang="es")

	include common/head.jade

	//- script(src="//maps.google.com/maps/api/js?sensor=true")

	//- script(src="#{ven_js}gmaps.js")

	body(class="#{classbody}")

		include common/header.jade

		include blocks/breadcrumb.jade

		main.container
			
				include forms/form.jade
		
		include common/footer.jade

		include common/foot.jade