// banner
.slider
	.sy-pager
		li
			border-radius 0 !important
			border 0 !important
			a
				// border-radius 0 !important
				text-indent 0 !important
				// color white
				font-size 0px
				font-weight 100
				background color1 !important
			&.sy-active
				a
					background #50dffa !important