
.block_pages
    text-align: center
    .container .gallery .card .card-content
        bottom initial
        position relative
        height auto
        width 100%
        display block
        a.name
            display: block
            background black
            color white
            text-align center
            border-radius 0
            font-size 13px
            height auto
            line-height 150%
            padding .8em 1em !important
        .subname
            padding .8em 1em
            display block
            text-align: justify
            color black
            background white
