.header_pre
	background #4FDFFA !important
	nav
		background initial !important
		// color color_white
		padding 5px 0
		a
			font-size 18px
			font-weight bold !important
		// .whatsapp,.email
		// 	a
		// 		color red !important
		// .facebook a
		// 	color #1977f3 !important
