//- 88 88b 88 888888  dP"Yb
//- 88 88Yb88 88__   dP   Yb
//- 88 88 Y88 88""   Yb   dP
//- 88 88  Y8 88      YbodP
section.info(class="text-xs text-gray-600  w-full py-1 px-2 order-last")
	!= post.html3
