
.whatsapp_button
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #a4cf3d;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    border: 1px solid #000;
    z-index: 1;
    &:before
        content: '\e900';
        font-family: icomoon;
        font-size: 66px;
        color: #fff;
        text-shadow: 5px 5px 15px #666; 
    &:hover
        text-decoration none   