.header_pre
	nav
		// height 40px
		background-color darken(white,5)
		color black
		box-shadow initial
		// border-bottom 1px solid #ddd
		.container
			> ul.menu 
				display flex
				width 100%
				&:before
					content ""
					flex-grow 1
					order 1
				> li
					height 30px
					line-height @height
					padding-left 0.3em
					padding-right 0.3em
					font-weight 400
					flex-grow 0
					white-space nowrap
					// vertical-align middle
					// text-align right
					// order 1
					i
						display inline-block
						height initial
						line-height initial
						font-size inherit
					a
						color inherit
						font-weight inherit
						display inline-block
						padding-left 1px
					&:before
						margin-right 0.5em
					&.facebook a
						icomoon('e660')
					&.twitter a
						icomoon('e66c')
					&.instagram a
						icomoon('ea92')						
					&.youtube a
						icomoon('e674')					
					&.whatsapp
						icomoon('e900')
						font-size 1.05em
						font-weight bold
					&.phone
						icomoon('e620')
						order 11
					&.email
						icomoon('e679')
						order 12


