section.header_pre.hide-on-med-and-down
	nav
		.container
			ul.menu
				if(web_facebook)
					li.facebook: a(target="_blank",href="#{web_facebook}")
				if(web_youtube)
					li.youtube: a(target="_blank",href="#{web_youtube}")
				if(web_twitter)
					li.twitter: a(target="_blank",href="#{web_twitter}")
				if(web_instagram)
					li.instagram: a(target="_blank",href="#{web_instagram}")
				if(web_whatsapp)
					li.whatsapp: +render_whatsapp(web_whatsapp)
				if(web_phone)
					li.phone: +render_phone(web_phone)
				if(web_email)
					li.email: +render_email(web_email)
					