- app         = "crm";
- base        = "//localhost:8080/"+app+"/";
- head_title  = "CRM Inmobiliario";
- main_title  = head_title;
- pub         = "./public";
- pub_css     = pub+"/css/";
- pub_js      = pub+"/js/";
- ven_css     = pub+"/vendor/css/";
- ven_js      = pub+"/vendor/js/";
- pub_img     = "./public/img/";
- logo        = "logo.jpg";
- menu_top    = [{'name':'item1'},{'name':'item2'},{'name':'item3'}];
- menu_left   = [{'name':'item1','menu':[{'name':'item11'}]},{'name':'item2','menu':[]}];
- menu_footer = [{'name':'item1'},{'name':'item2'},{'name':'item3'}];