include ../../../../work/sources/jade/includes.jade

block body

	//- l:logo left, m s:center
	//- l:menu top, m s:menu left
	include common/header.jade
	//- include common/menu.jade

	//- banner http://kenwheeler.github.io/slick/
	//- include blocks/banner.jade

	//- popup
	//- include blocks/popup.jade


	//- eventos
	//- include blocks/events.jade

	//- include blocks/menu_blog.jade
	//- l:txt and pic/ social networks
	//- include blocks/post.jade


	//- l: no se, s:1 col
	//- include blocks/blog.jade


	//- map
	//- include blocks/map.jade
	//-


	//- l:4 cols with buttons, m:2 cols, s:1 col
	//- include blocks/locales.jade

	//-
	//- include blocks/galleries.jade

	//- include test/materialize.jade
	//- main

	//- include common/footer.jade

	//- include common/foot.jade