.navbar
{
}  

.mainDiv
{
  width:185px;
  height:auto;
}

.topItem
{
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-up-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  border: none;
  width: 185px;
  height: 15px;
  color: #fff;
  cursor:pointer;
  padding:5px 0;
  text-indent:10px;
}

.topItemOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-up-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 15px;
  width: 185px;
  color: #fff;
  cursor:pointer;
  padding:5px 0;
}

.topItemClose
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-down-title.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 15px;
  width: 185px;
  color: #fff;
  cursor:pointer;
  padding:5px 0;
}


.topItemCloseOver
{
  text-indent:10px;
  font: bold 12px tahoma,verdana,sans-serif;
  letter-spacing: 0;
  background: url("../images/arrow-down-title-on.jpg") no-repeat 0 0;
  background-position:center center;
  background-repeat:no-repeat;
  height: 15px;
  width: 185px;
  color: #fff;
  cursor:pointer;
  padding:5px 0;
}



.dropMenu
{
  padding:10px 0;
  font: bold 11px tahoma,verdana,sans-serif;	
  background-color: #c4e2ff;
  color: #000;
  border: 1px solid #FFFFFF;
  border-width: 0 1px 1px 1px;
  filter:alpha(opacity=100);
}

.subMenu
{

   display:block;
}

.subItem
{
   margin:0 10px 5px 10px;
   height:20px;
   font: 11px tahoma,verdana,sans-serif;	
   text-decoration:none;
   color: #26578f;
   text-align:left;
   background-color:#9fcefc;
   
}

.subItem a
{
   font: 11px tahoma,verdana,sans-serif;	 	
   text-decoration:none;
   color: #26578f;
}

.subItemOver
{
   margin:0 10px 5px 10px;
   margin-left:10px;
   font: 11px tahoma,verdana,sans-serif;	  
   height:20px;
   color: #fff;
    text-decoration:none;
}

.subItemOver  a
{
   font: 11px tahoma,verdana,sans-serif;
   text-decoration:none;
   color: #428eff;
   cursor:pointer;
}


.drop
{
   border-left:1px solid black;
   border-right:1px solid black;	
}
#right{
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
float:right; width:750px; height:auto; padding:10px;
}
#left{
padding-top:10px; padding-left:7px;float:left; width:193px; height:auto; background-color:#cdcdcd;
}



