body
	display flex
	.footerpre2
		order 100


.header_pre
	nav
		background #f99848 !important
		color white !important



.footerpre2
	background #000 !important




.header_pre nav .container > ul.menu > li
	height 35px !important
	// line-height @height !important
	font-size 1.2rem
	font-weight bold !important
	a,&:before
		font-size 1.4rem

