// .footer
// 	@media $large
// 		background-image linear-gradient(top,#7d7d7d,#444)
// 	.container
// 		nav
// 			height 30px
// 			line-height @height
// 			background transparent
// 			box-shadow initial
// 			span,a
// 				color #fff
// 				font-size 11px 
// 				font-family verdana
// 				padding 0 1em
// 	@media $medium-small
// 		background-color color1
.footer
	background color1
	height auto
	// margin-top 0px !important
	// padding-bottom 2em
	// display none
	// overflow hidden
	@media $small-medium	
		padding-left 1em
		padding-right 1em
		height auto
	.container
		@media $large
			display flex
			align-items center
			justify-content space-between
		ul
			@media $large
				margin-top 20px
				width 50%
			// margin-right 9.3em	
			li
				list-style none
				position relative
				margin-bottom 4px
				@media $small
					strong
						display block
				a,span
					color white
					font-weight 400
				a
					padding-left 10px
					&.prodiserv
						float left
						color #000
						&:hover
							color white
						&:before
							content ""
			&.logofooter
				text-align center
				@media $small-medium
					text-align left
				li
					margin 0 auto