section(class="footerpre2")
	div(class="container row")
		//- div(class="col s12 l4")
		//- 	p #[strong C.E.O.]#[br]
		//- 		| Ing. Walter Távara
		div(class="col s12 l3 puntos")
			p(class="center") #[strong(class="title") TIENDA 1]
				| Jr. Mesa Redonda 1098#[br]
				| Lima Cercado#[br]
				strong T(01) 427-3617
		div(class="col s12 l3 puntos")
			p(class="center") #[strong(class="title") TIENDA 2]
				| Jr. Mesa Redonda 1098#[br]
				| Lima Cercado#[br]
				strong T(01) 427-3617
		div(class="col s12 l3")
			p(class="center") #[strong(class="title") OFICINA/SHOW ROOM]
				| Jr. Puno 636 - Interior 6#[br]
				| Lima Cercado#[br]
				strong T(01) 733-8329
		div(class="col s12 l3 negro") 
			p
				span.ventas Ventas Mayoristas#[br] #[strong C.958-086-229]
				a.facebook(href="https://www.facebook.com/Onesinlimites.pe",target="_blank") /Onesinlimites.pe
				a.email(href="contactenos") ventas@onesinlimites.com
				.fb-share-button(
					data-layout="button_count")
