//- 88""Yb    db    88b 88 88b 88 888888 88""Yb
//- 88__dP   dPYb   88Yb88 88Yb88 88__   88__dP
//- 88""Yb  dP__Yb  88 Y88 88 Y88 88""   88"Yb
//- 88oodP dP""""Yb 88  Y8 88  Y8 888888 88  Yb
figure.banner(class="w-full md:w-1/2 lg:w-5/12 px-2 order-1")
    img(class=" m-auto pb-2",
        src="#{pub_img}blindaje-autos-peru-1.jpg")